<nav class="mr-0 px-0 pt-2 mr-2" id="sidebar" th:fragment="adminSidebar">
    <h3 class="text-center">Admin <i class="fas fa-tools"></i></h3>
    <ul class="pt-0 list-unstyled components">
        <li th:classappend="${#httpServletRequest.requestURI} == '/console' ? active : ''">
            <a href="#">
                <i class="fas fa-users-cog"></i>
                <span th:utext="#{label.pages.title.users}">Users</span>
            </a>
        </li>
        <li>
            <a href="#sensorSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="fas fa-microchip"></i>
                <span th:utext="#{label.pages.title.sensors}">Sensors</span>
            </a>
            <ul class="collapse list-unstyled" id="sensorSubmenu"
                th:classappend="${#httpServletRequest.requestURI} == '/addSensor' ? show : ''">
                <li>
                    <a href="#" th:utext="#{label.pages.title.sensors.list}">List sensors</a>
                </li>
                <li th:classappend="${#httpServletRequest.requestURI} == '/addSensor' ? active : ''">
                    <a th:href="@{/addSensor}" th:utext="#{label.pages.title.sensors.add}">Add a new sensor</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
