<footer th:fragment="pageFooter">
    <div class="footer-top">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-3 footer-about text-md-left">
                    <img class="logo-footer" src="/resources/images/upofly.png" alt="logo-footer">
                    <p>
                        We are a young company always looking for new and creative ideas to help you with our products
                        in your everyday work.
                    </p>
                    <p><a href="#">Our Team</a></p>
                </div>
                <div class="col-md-4 offset-md-1 footer-contact text-md-left">
                    <h3>Contact</h3>
                    <p><i class="fas fa-map-marker-alt"></i> Via Rossini 10, 10136 Turin Italy</p>
                    <p><i class="fas fa-phone"></i> Phone: (0039) 333 12 68 347</p>
                    <p><i class="fas fa-envelope"></i> Email: <a href="mailto:hello@domain.com">hello@domain.com</a></p>
                    <p><i class="fab fa-skype"></i> Skype: you_online</p>
                </div>
                <hr/>
                <div class="col-md-3 offset-md-1 footer-links text-md-left">
                    <h3>Links</h3>
                    <p><a class="scroll-link" href="#top-content">Home</a></p>
                    <p><a href="#">Features</a></p>
                    <p><a href="#">How it works</a></p>
                    <p><a href="#">Our clients</a></p>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div class="footer-bottom">
        <details class="container text-center">
            <summary class="footer-copyright">&copy; 2021. All rights reserved.</summary>
            Bootstrap Footer Template by <a href="https://azmind.com">AZMIND</a>
        </details>
    </div>
</footer>
