<div th:fragment="sampleViewModal">
    <div class="modal" id="sampleModal" tabindex="-1" aria-labelledby="sampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sampleModalLabel" th:utext="#{sample.modal.title}">
                        Modal title
                    </h5>
                    <span id="sampleDate" class="my-auto w-100 text-right">
                    </span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <ul id="sampleNav" class="nav nav-tabs">
                    <li class="nav-item" id="tableTab">
                        <button class="nav-link active btn btn-link" onclick="toggleView('table')"
                                th:utext="#{sample.tab.table}">Table
                        </button>
                    </li>
                    <li class="nav-item" id="chartTab">
                        <button class="nav-link btn btn-link" onclick="toggleView('chart')"
                                th:utext="#{sample.tab.chart}">Chart
                        </button>
                    </li>
                    <li class="nav-item dropdown" id="statsTab">
                        <button class="nav-link dropdown-toggle btn btn-link" data-toggle="dropdown" role="button"
                                th:utext="#{sample.tab.stats}" aria-haspopup="true" aria-expanded="false">Statistics
                        </button>
                        <div class="dropdown-menu">
                            <button class="dropdown-item btn btn-link" onclick="toggleView('statsUni')"
                                    th:utext="#{sample.tab.stats.univariate}">Univariate
                            </button>
                            <button id="statsMultiBtn" class="dropdown-item btn btn-link"
                                    onclick="toggleView('statsMulti')"
                                    th:utext="#{sample.tab.stats.multivariate }" disabled>Multivariate
                            </button>
                        </div>
                    </li>
                </ul>
                <div class="modal-body">
                    <div class="table-responsive sampleTabContent" id="tableView">
                        <div id="tableLoader" role="status" class="tabLoader spinner-grow text-primary">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <table id="sampleTable" class="table table-striped text-center">
                            <thead class="thead-dark"></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="container-fluid sampleTabContent" id="chartView" style="display: none;">
                        <div id="chartLoader" role="status" class="tabLoader spinner-grow text-primary">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div id="chartContent"></div>
                    </div>
                    <div class="table-responsive sampleTabContent" id="statsUniView" style="display: none;">
                        <div id="statsUniLoader" role="status" class="tabLoader spinner-grow text-primary mx-auto">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <table id="statsUniTable" class="table table-striped text-center my-0">
                            <thead class="thead-dark"></thead>
                            <tbody></tbody>
                        </table>
                        <div id="plotLoader" role="status" style="margin-top:10%"
                             class="tabLoader spinner-grow text-primary position-relative">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <div id="plots" class="overflow-hidden"></div>
                    </div>
                    <div class="table-responsive sampleTabContent" id="statsMultiView" style="display: none;">
                        <div id="statsMultiLoader" role="status" class="tabLoader spinner-grow text-primary mx-auto">
                            <span class="sr-only">Loading...</span>
                        </div>
                        <table id="statsMultiTable" class="table table-striped text-center">
                            <caption class="px-4"></caption>
                            <thead class="thead-dark"></thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="custom-control custom-switch mr-auto my-auto">
                        <input type="checkbox" class="custom-control-input" id="normalizeSwitch">
                        <label class="custom-control-label" for="normalizeSwitch"
                               th:inline="text">
                            [[#{sample.modal.normalize}]] [0, 1]
                        </label>
                    </div>
                    <input type="text" id="sampleId" name="projectId" value="" hidden>
                    <button class="btn btn-secondary" th:inline="text" onclick="generateReport()">
                        [[#{sample.button.report.generate}]] &nbsp;
                        <i class="fas fa-file-pdf"></i>
                    </button>
                    <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" id="exportMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:inline="text">
                            [[#{sample.button.export}]] &nbsp;
                            <i class="fas fa-file-download"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="exportMenuButton">
                            <button class="dropdown-item btn btn-link" th:utext="#{sample.modal.save.tooltip.csv}"
                                    onclick="exportCSV()"></button>
                            <button class="dropdown-item btn btn-link" th:utext="#{sample.modal.save.tooltip.txt}"
                                    onclick="exportTXT()"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Sample Modal JS Functionalities-->
    <script th:inline="javascript">
        //Global variables to store retrieved sample data
        let selectedSampleData = undefined;
        let selectedSampleValues = undefined
        let selectedSampleValuesNorm = undefined
        let normalized = false;
        let correlationMatrix = undefined;
        const limit = 200; //Table rows to render at once
        $(document).ready(function () {
            $("#normalizeSwitch").change(() => toggleDataNormalization());
        });

        function addRows(offset) {
            const data = normalized ? selectedSampleValuesNorm : selectedSampleValues;
            const newLimit = limit + offset;
            for (let index1 = offset; index1 < selectedSampleData.size && index1 < newLimit; index1++) {
                const newRow = $("<tr></tr>");
                $(newRow).append(`<th scope="row">${(index1 + 1)}</th>`);
                selectedSampleData.dataChannels.forEach((channel, index2) => {
                    const newCell = $(`<td>${data[index2][index1]}</td>`);
                    $(newRow).append(newCell);
                });
                $("#sampleTable tbody").append(newRow);
            }
        }

        function toggleDataNormalization() {
            normalized = !normalized;
            if (normalized && !selectedSampleValuesNorm) {
                normalizeValues();
            }
            $("#sampleTable thead").empty();
            $("#sampleTable tbody").empty();
            $("#chartContent").empty();
            renderSampleData(selectedSampleData.id);
            const currentViewId = $("#sampleNav .nav-link.active").closest("li.nav-item").attr("id");
            switch (currentViewId) {
                case 'tableTab':
                    toggleView('table');
                    break;
                case 'chartTab':
                    toggleView('chart');
                    break;
                case 'statsTab':
                    toggleView('statsUni');
                    break;
            }
        }

        function normalizeValues() {
            selectedSampleValuesNorm = [];
            selectedSampleValues.forEach((channel) => {
                selectedSampleValuesNorm.push(normalizeZeroToOne(channel));
            })
        }

        async function toggleView(view) {
            switch (view) {
                case 'chart':
                    $("#sampleNav li.nav-item button.nav-link").removeClass("active");
                    $("#chartTab button.nav-link").addClass("active");
                    $(".sampleTabContent").hide();
                    $("#chartLoader").show();
                    $("#chartView").show({
                        done: () => {
                            if (!$("#chartContent").children().length) {
                                drawChart();
                            } else {
                                $("#chartLoader").hide();
                            }
                        }
                    });
                    break;
                case 'table':
                    $("#sampleNav li.nav-item button.nav-link").removeClass("active");
                    $("#tableTab button.nav-link").addClass("active");
                    $(".sampleTabContent").hide();
                    $("#tableLoader").show();
                    $("#tableView").show({
                        done: () => {
                            $("#tableLoader").hide();
                        }
                    });
                    break;
                case 'statsUni':
                    $("#sampleNav li.nav-item button.nav-link").removeClass("active");
                    $("#statsTab button.nav-link").addClass("active");
                    $(".sampleTabContent").hide();
                    $("#statsUniView").show({
                        done: () => {
                            $("#statsUniLoader").show();
                            loadUnivariateStatistics();
                            $("#statsUniLoader").hide({
                                done: () => {
                                    if (!$("#plots").children().length) {
                                        $("#plotLoader").show({
                                            done: () => {
                                                plotChannels();
                                            }
                                        });
                                    }
                                }
                            });
                        }
                    });
                    break;
                case 'statsMulti':
                    $("#sampleNav li.nav-item button.nav-link").removeClass("active");
                    $("#statsTab button.nav-link").addClass("active");
                    $(".sampleTabContent").hide();
                    $("#statsMultiView").show({
                        done: () => {
                            if (!$("#statsMultiTable tbody").children().length) {
                                $("#statsMultiLoader").show();
                                loadMultivariateStatistics();
                                $("#statsMultiLoader").hide();
                            }
                        }
                    });
                    break;
            }
        }

        function loadUnivariateStatistics() {
            if (selectedSampleData) {
                if (!selectedSampleData.statsGenerated) {
                    if (confirm(htmlDecode([[#{message.confirm.sample.generateStatistics}]]))) {
                        $("#statsUniLoader").show();
                        generateStatistics(selectedSampleData.id);
                    } else {
                        toggleView('table');
                    }
                } else if ($("#statsUniTable tbody").children().length === 0) {
                    selectedSampleData.dataChannels.forEach((c, i) => {
                        if (i === 0) {
                            const statNames = Object.keys(c.statistics);
                            const headerRow = $("<tr></tr>");
                            const chName = $(`<th scope="col">${[[#{sample.table.channel}]]}</th>`);
                            $(headerRow).append(chName);
                            statNames.forEach((k) => {
                                const cell = $(`<th scope="col">${k}</th>`);
                                $(headerRow).append(cell);
                            });
                            $("#statsUniTable thead").append(headerRow);
                        }
                        const row = $("<tr></tr>");
                        const ch = $(`<th scope="row">${c.channelName} ${c.channelLabel ? '[' + c.channelLabel + ']' : ''}</th>`);
                        $(row).append(ch);
                        const stats = Object.values(c.statistics);
                        stats.forEach((v) => {
                            const stat = $(`<td>${isNaN(v) ? v : v.toPrecision(6)}</td>`);
                            $(row).append(stat);
                        });
                        $("#statsUniTable tbody").append(row);
                    });
                }
            } else {
                $("#errormsg").show().html(/*[[#{message.error.operation}]]*/);
            }
        }

        function loadMultivariateStatistics() {
            if (selectedSampleData) {
                if (!correlationMatrix) {
                    correlationMatrix = calculateCorrelations(selectedSampleValues);
                }
                if ($("#statsMultiTable tbody").children().length === 0) {
                    $("#statsMultiTable caption").text(htmlDecode([[#{sample.stats.correlation}]]));

                    selectedSampleData.dataChannels.forEach((c, i) => {
                        if (i === 0) {
                            const headerRow = $("<tr></tr>");
                            $(headerRow).append($(`<th scope="col">${[[#{sample.table.channel}]]}</th>`));
                            selectedSampleData.dataChannels.forEach((ch, j) => {
                                const cell = $(`<th scope="col">${ch.channelName}</th>`);
                                $(headerRow).append(cell);
                            });
                            $("#statsMultiTable thead").append(headerRow);
                        }
                        const row = $("<tr></tr>");
                        const ch = $(`<th scope="row">${c.channelName}</th>`);
                        $(row).append(ch);
                        correlationMatrix[i].forEach((v) => {
                            const correlation = $(`<td>${v ?? '-'}</td>`);
                            $(row).append(correlation);
                        });
                        $("#statsMultiTable tbody").append(row);
                    });
                }
            }
        }

        function renderSampleData(sampleId) {
            if (selectedSampleData && (selectedSampleValues || (normalized && selectedSampleValuesNorm))
                && selectedSampleData.id === sampleId) {
                const role = [[${role}]];
                const deleteBtnExists = $("#deleteSampleBtn").length > 0;
                if (role === 'owner' && !deleteBtnExists) {
                    const deleteBtn = `<span id="deleteSampleBtn" class='d-flex align-self-center ml-3'>
                    <button class="btn btn-danger btn-sm my-auto" onclick='deleteSample(${sampleId})'>
                        <i class="fas fa-trash"></i>
                    </button></span>`;
                    $("#sampleModal .modal-title").after(deleteBtn);
                }
                $("#sampleDate").empty();
                const date = (new Date(selectedSampleData.sampleDate)).toLocaleDateString();
                $("#sampleDate").append(`<i class="fas fa-calendar-day"></i> ${date}`)

                const headerRow = $("<tr></tr>");
                $(headerRow).append(`<th scope="col">#</th>`);

                selectedSampleData?.dataChannels?.forEach((c) => {
                    let channelInfo = '';
                    channelInfo += "<ul class='list-unstyled'>";
                    channelInfo += `<li><strong>${htmlDecode([[#{sample.channel.resolution}]])}</strong> ${c.resolution
                        ? c.resolution : 'N/A'}</li>`;
                    channelInfo += `<li><strong>${[[#{sample.channel.type.ad}]]}</strong> ${c.digital
                        ? [[#{sample.channel.digital}]] : [[#{sample.channel.analog}]]}</li>`;
                    channelInfo += `<li><strong>${[[#{sample.channel.type.io}]]}</strong> ${c.input
                        ? [[#{sample.channel.input}]] : [[#{sample.channel.output}]]}</li>`;
                    channelInfo += `<li><strong>Sensor:</strong> ${c.sensor.name ?? 'N/A'}</li>`;
                    channelInfo += `<li><strong>Sensor(alias):</strong> ${c.sensor.alias ?? 'RAW'}</li>`;
                    channelInfo += "</ul>";

                    $(headerRow).append(`<th data-toggle="tooltip" data-placement="left" data-html="true"
                title="${channelInfo}" scope="col">${c.channelName} ${c.channelLabel ? '[' + c.channelLabel + ']' : ''}</th>`);
                });

                $("#sampleTable thead").append(headerRow);

                const data = normalized ? selectedSampleValuesNorm : selectedSampleValues;
                for (let index1 = 0; index1 < selectedSampleData.size && index1 < limit; index1++) {
                    const newRow = $("<tr></tr>");
                    $(newRow).append(`<th scope="row">${(index1 + 1)}</th>`);
                    selectedSampleData.dataChannels.forEach((channel, index2) => {
                        const newCell = $(`<td>${data[index2][index1]}</td>`);
                        $(newRow).append(newCell);
                    });
                    $("#sampleTable tbody").append(newRow);
                }
                $('[data-toggle="tooltip"]').tooltip();
                $("#sampleModalLabel").children().remove();
                $("#sampleModalLabel").append(`<span>&nbsp;#${sampleId}</span>`);
                $("#sampleId").val(sampleId);
                $("#sampleModal").modal('show');

                $('#sampleModal .modal-body').scroll(function () {
                    if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                        const offset = $('#sampleTable tbody').children().toArray().length;
                        addRows(offset);
                    }
                });
            } else {
                $("#errormsg").show().html(/*[[#{message.error.operation}]]*/);
            }
        }

        function generateStatistics(sampleId) {
            $.ajax({
                type: 'GET',
                url: serverContext + 'sample/statistics/' + sampleId,
                success: (data) => {
                    selectedSampleData = data.sample;
                    loadUnivariateStatistics();
                    fetchSamples();
                    $("#statsUniLoader").hide();
                },
                error: (data) => {
                    $("#statsUniLoader").hide();
                    $("#errormsg").show().html(/*[[#{message.error.operation}]]*/);
                }
            });
        }

        google.charts.load('current', {'packages': ['corechart']});

        function drawChart() {
            if (selectedSampleData && (selectedSampleValues || (normalized && selectedSampleValuesNorm))) {
                const dataTable = new google.visualization.DataTable();
                dataTable.addColumn('number', htmlDecode([[#{sample.table.column.id}]]));

                selectedSampleData.dataChannels.forEach((c) => {
                    dataTable.addColumn('number', c.channelName);
                });

                const data = normalized ? selectedSampleValuesNorm : selectedSampleValues;

                data[0].forEach((r, index1) => {
                    const row = [index1 + 1];
                    selectedSampleData.dataChannels.forEach((c, index2) => {
                        row.push(Number.parseFloat(data[index2][index1]));
                    })
                    dataTable.addRow(row);
                });

                const options = {
                    chart: {
                        title: '',
                        subtitle: '',
                    },
                    chartArea: {
                        width: '83%',
                        height: '75%',
                    },
                    height: 500,
                    width: '100%',
                    hAxis: {title: htmlDecode([[#{sample.table.column.id}]]), gridlines: {count: -1}},
                    explorer: {axis: 'horizontal', maxZoomIn: calculateZoom(selectedSampleData.size)},
                };
                const chart = new google.visualization.LineChart(document.getElementById("chartContent"));
                google.visualization.events.addListener(chart, 'ready', () => {
                    $("#chartLoader").hide();
                });
                chart.draw(dataTable, options);
            }
        }

        function calculateZoom(size) {
            const value = Math.round(log3(size)) - 1;
            return Math.pow(2, value);
        }

        function log3(val) {
            return Math.log(val) / Math.log(3);
        }

        function exportCSV() {
            if (selectedSampleData && selectedSampleValues) {
                if (!selectedSampleValuesNorm) {
                    normalizeValues();
                }
                let date = new Date();
                let sRate = selectedSampleData.samplingRate;
                let timeIncrement = (1 / sRate) * 1000;


                let csv = `"seq","timestamp",`;

                selectedSampleData.dataChannels.forEach((c, i) => {
                    csv += `"${c.channelName}${c.channelLabel ? '[' + c.channelLabel + ']' : ''}",`;
                    csv += `"${c.channelName}${c.channelLabel ? '[' + c.channelLabel + ']' : ''}_norm",`;
                });

                csv = csv.slice(0, -1);
                csv += "\n";


                for (let i = 0; i < selectedSampleData.size; i++) {
                    date = new Date(date.getTime() + timeIncrement);
                    let month = (date.getMonth() + 1).toString().padStart(2, 0);
                    let day = date.getDate().toString().padStart(2, 0);
                    let hours = date.getHours().toString().padStart(2, 0);
                    let minutes = date.getMinutes().toString().padStart(2, 0);
                    let seconds = date.getSeconds().toString().padStart(2, 0);
                    csv += `${i + 1},"${date.getFullYear()}-${month}-${day} ${hours}:${minutes}:${seconds}.${date.getMilliseconds()}"`;

                    for (let j = 0; j < selectedSampleData.dataChannels.length; j++) {
                        csv += "," + selectedSampleValues[j][i];
                        csv += "," + selectedSampleValuesNorm[j][i];
                    }
                    csv += "\n";
                }

                const blob = new Blob([csv],
                    {type: "text/plain;charset=ascii"});

                let filename = "data_" + selectedSampleData.deviceName + "_" + date.getTime() + ".csv";

                saveAs(blob, filename);
            }
        }

        function exportTXT() {
            if (selectedSampleData && selectedSampleValues) {
                const date = new Date();
                const columns = ['nSeq'];
                const channels = []
                const labels = [];
                const sensors = [];
                const resolutions = [4];

                selectedSampleData.dataChannels.forEach((c, i) => {
                    sensors.push(c.sensor.alias ?? 'RAW');
                    columns.push(c.channelName ?? `A${i}`);
                    labels.push(c.channelLabel ?? `A${i}`);
                    channels.push(c.channelName ? parseInt(c.channelName.charAt(c.channelName.length - 1)) : i + 1);
                    resolutions.push(c.resolution ?? 10);
                });

                let txt = '# OpenSignals Text File Format\n';
                const header = {
                    [selectedSampleData.deviceName]: {
                        sensor: sensors,
                        'device name': selectedSampleData.deviceName,
                        column: columns,
                        'sync interval': 2,
                        comments: selectedSampleData.comments,
                        'device connection': selectedSampleData.deviceName,
                        channels: channels,
                        date: selectedSampleData.sampleDate,
                        mode: 0,
                        'firmware version': selectedSampleData.deviceFirmware,
                        device: selectedSampleData.deviceModel ?? 'bitalino_rev',
                        position: 0,
                        'sampling rate': selectedSampleData.samplingRate,
                        label: labels,
                        resolution: resolutions,
                    }
                };
                txt += '# ' + JSON.stringify(header);
                txt += '\n' + "# EndOfHeader";
                let aux = 0;
                for (let i = 0; i < selectedSampleData.size; i++) {
                    txt += "\n";
                    txt += aux++;
                    for (let j = 0; j < selectedSampleData.dataChannels.length; j++) {
                        txt += "\t" + selectedSampleValues[j][i];
                    }
                    aux = aux === 16 ? 0 : aux;
                }

                const blob = new Blob([txt],
                    {type: "text/plain;charset=ascii"});

                let filename = "opensignals_" + selectedSampleData.deviceName + "_" + date.getTime() + ".txt";

                saveAs(blob, filename);
            }
        }

        async function plotChannels() {
            if (selectedSampleData && selectedSampleValues) {
                if (!selectedSampleValuesNorm) {
                    normalizeValues();
                }
                const data = [];
                selectedSampleData.dataChannels?.forEach((c, i) => {
                    const trace = {
                        y: selectedSampleValuesNorm[i],
                        type: 'box',
                        name: c.channelName,
                        boxpoints: 'suspectedoutliers',
                        jitter: 0.5,
                        whiskerwidth: 0.2,
                        fillcolor: 'cls',
                        marker: {
                            outliercolor: 'rgba(219, 64, 82, 0.6)',
                            line: {
                                outliercolor: 'rgba(219, 64, 82, 1.0)',
                                outlierwidth: 2
                            }
                        },
                    };
                    data.push(trace);
                });
                layout = {
                    title: 'Box Plot',
                    yaxis: {
                        showgrid: true,
                        zeroline: false,
                    },
                    margin: {
                        l: 40,
                        r: 30,
                        b: 80,
                        t: 100
                    },
                    paper_bgcolor: 'rgb(243, 243, 243)',
                    plot_bgcolor: 'rgb(243, 243, 243)',
                    showlegend: false
                };
                const config = {responsive: true};
                Plotly.newPlot('plots', data, layout, config).then((gd) => {
                    $("#plotLoader").hide();
                    return gd;
                });
            }
        }

        async function generateReport() {
            if(selectedSampleData && selectedSampleValues) {
                let plot;
                if (!$("#plots").children().length) {
                    plot = plotChannels();
                } else {
                    plot = document.getElementById("plots");
                }
                console.log(plot);
                window.jsPDF = window.jspdf.jsPDF
                const doc = new jsPDF();

                Plotly.toImage(plot, {format: 'png', height: 500, width: 500})
                    .then((url) => {
                            doc.addImage(url, 'PNG', 15, 40, 180, 160);
                            const blob = doc.output("blob");
                            window.open(URL.createObjectURL(blob));
                            //doc.save("a4.pdf");
                        }
                    )
            }
        }

    </script>
</div>
