<div th:fragment="subjectModal">
    <div class="modal fade" id="subjectModal" tabindex="-1" aria-labelledby="subjectModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="subjectModalLabel" th:utext="#{label.pages.title.project.subject}">Modal
                        title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="#" method="POST" enctype="utf8" id="subjectForm">
                    <div class="modal-body">
                        <div class="form-group row">
                            <div id="genderError" class="text-danger row col offset-3" style="display:none"></div>
                            <label class="col-sm-4" th:utext="#{label.form.subject.gender}"></label>
                            <div class="col-sm-3">
                                <input type="radio" name="gender" id="genderMale" value="m"
                                       required>
                                <label class="font-weight-normal" for="genderMale"
                                       th:utext="#{label.form.subject.gender.male}">m</label>
                            </div>
                            <div class="col-sm-3">
                                <input type="radio" name="gender" id="genderFemale"
                                       value="f" required>
                                <label class="font-weight-normal" for="genderFemale"
                                       th:utext="#{label.form.subject.gender.female}"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div id="birthDateError" class="text-danger row col offset-3" style="display:none"></div>
                            <label for="birthDate" class="col-sm-4" th:utext="#{label.form.subject.birth}">date</label>
                            <div class="col-sm-8">
                                <input id="birthDate" class="form-control" name="birthDate" type="date" value=""
                                       required/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div id="weightError" class="text-danger row col offset-3" style="display:none"></div>
                            <label for="weight" class="col-sm-4" th:utext="#{label.form.subject.weight}">weight</label>
                            <div class="col-sm-8">
                                <input id="weight" class="form-control" name="weight" type="number" value=""
                                       min="0" step="0.1"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div id="heightError" class="text-danger row col offset-3" style="display:none"></div>
                            <label for="height" class="col-sm-4" th:utext="#{label.form.subject.height}">height</label>
                            <div class="col-sm-8">
                                <input id="height" class="form-control" name="height" type="number" value=""
                                       min="0" step="1"/>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div id="smokerError" class="text-danger row col offset-3" style="display:none"></div>
                            <div class="col custom-control custom-switch ml-3">
                                <input id="smoker" name="smoker" type="checkbox" class="custom-control-input"/>
                                <label for="smoker" class="custom-control-label"
                                       th:utext="#{label.form.subject.smoker}">
                                </label>
                            </div>
                        </div>
                        <div id="derivedFields" style="display: none">
                            <hr/>
                            <div class="form-group row">
                                <div id="bmiError" class="text-danger row col offset-3" style="display:none"></div>
                                <label for="bmi" class="col-sm-4" th:utext="#{label.form.subject.bmi}">bmi</label>
                                <div class="col-sm-8">
                                    <div class="range-value" id="bmiVal"></div>
                                    <input id="bmi" name="bmi" type="range" class="slider" value="" min="0" max="40">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div id="bfpError" class="text-danger row col offset-3" style="display:none"></div>
                                <label for="bfp" class="col-sm-4" th:utext="#{label.form.subject.bfp}">bfp</label>
                                <div class="col-sm-8">
                                    <div class="range-value" id="bfpVal"></div>
                                    <input id="bfp" name="bfp" type="range" class="slider" value="" min="0" max="40">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="text" id="subjectProjectId" name="projectId" value="" hidden>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                th:utext="#{label.form.cancel}">
                            cancel
                        </button>
                        <button class="btn btn-primary" type="submit" th:utext="#{label.form.save}"></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--Subject JS Functionalities-->
    <script th:inline="javascript">
        $(document).ready(function () {
            $('#subjectForm').submit(function (event) {
                saveProjectSubject(event);
            });
        });

        function registerSubject(projectId) {
            $('#subjectForm')[0].reset();
            makeSubjectEditable(true);
            $("#derivedFields").hide();
            $('#subjectProjectId').val(projectId);
            $('#subjectModal').modal('show');
        }

        function saveProjectSubject(event) {
            event.preventDefault();
            $(".alert").html("").hide();
            $(".error-list").html("");
            const formData = $('#subjectForm').serialize();
            $.post(serverContext + "subject/add", formData, function (data) {
                $('#subjectModal').modal('hide');
                if(window.location.pathname.includes('/home')) {
                    fetchProjects();
                }
                $("#successmsg").show().html(/*[[#{message.project.success.update}]]*/);
            }).fail(function (data) {
                if (data.responseJSON) {
                    if (data.responseJSON.error.indexOf("InternalError") > -1) {
                        $("#errormsg").show().append(data.responseJSON.message);
                        $('#subjectModal').modal('hide');
                    } else {
                        const errors = data.responseJSON.message;
                        $.each(errors, function (index, item) {
                            if (item.field) {
                                $("#" + item.field + "Error").show().append(item.defaultMessage + "<br/>");
                            } else {
                                $("#globalError").show().append(item.defaultMessage + "<br/>");
                            }
                        });
                    }
                } else {
                    $("#errormsg").show().append(`ERROR: ${data.status}`);
                    $('#subjectModal').modal('hide');
                }
            });
        }

        function showSubjectForm(element) {
            const data = JSON.parse(b64_to_utf8(element.id));
            const subject = data.subject;
            const role = data.role ?? [[${role}]] ?? 'collaborator';
            if (subject) {
                if (subject.gender === "m") {
                    $("#genderMale").attr("checked", true);
                } else if (subject.gender === "f") {
                    $("#genderFemale").attr("checked", true);
                }
                $("#birthDate").val(subject.birthDate);
                $("#weight").val(subject.weight);
                $("#height").val(subject.height);
                $("#smoker").attr("checked", subject.smoker);
                $("#derivedFields").show();
                $("#bmi").val(subject.bmi);
                $("#bfp").val(subject.bfp);
                $("#subjectProjectId").val(subject.id);
                $("#subjectForm input, #subjectForm button[type='submit']").attr("disabled", true);
                representRangeValue($("#bmi"), $("#bmiVal"), subject.bmi);
                representRangeValue($("#bfp"), $("#bfpVal"), subject.bfp);
                const editBtnExists = $("#editSubjectBtn").length > 0;

                if (role === 'owner' && !editBtnExists) {
                    const editBtn = `<span id="editSubjectBtn" class='d-flex align-self-center ml-3'>
                    <button class="btn btn-warning btn-sm" onclick='makeSubjectEditable()'>
                        <i class='fas fa-edit'></i>
                    </button></span>`;
                    $("#subjectModalLabel").after(editBtn);
                }
                $("#subjectModal").modal('show');
            }
        }

        function representRangeValue(rangeElement, valueElement, value) {

            const min = Number.parseFloat($(rangeElement).attr("min"));
            const max = Number.parseFloat($(rangeElement).attr("max"));
            const newValue = (value - min) * 100 / (max - min);
            const newPosition = 10 - (newValue * 0.2);
            $(valueElement).empty().append(`<span>${value}</span>`);
            $(valueElement).css("left", `calc(${newValue}% + (${newPosition}px))`);
        }

        function makeSubjectEditable(register) {
            if (register) {
                $("#subjectForm input, #subjectForm button[type='submit']").attr("disabled", false);
            } else {
                const status = $("#subjectForm input").attr("disabled");
                $("#subjectForm").change(function () {
                    $("#subjectForm button[type='submit']").attr("disabled", false);
                });
                $("#subjectForm :not(input[type='range'])").attr("disabled", !status);
            }
        }
    </script>
</div>
