<nav sec:authorize="hasRole('USER')" class="mr-0 px-0 pt-2 mr-2" id="sidebar" th:fragment="userSidebar">
    <h3 class="text-center text-capitalize">
        <span th:utext="#{user.project.menu.title}"></span>
        <i class="fas fa-project-diagram"></i>
    </h3>
    <ul class="pt-0 list-unstyled components">
        <li th:classappend="${#httpServletRequest.requestURI} == '/home' ? active : ''">
            <a th:href="@{/home}">
                <i class="fas fa-folder-open"></i>
                <span th:utext="#{user.project.menu.myprojects}">Projects</span>
            </a>
        </li>
        <li th:classappend="${#httpServletRequest.requestURI} == '/global' ? active : ''" data-toggle="tooltip"
            data-placement="bottom" th:attr="title=#{user.project.menu.globalprojects.tooltip}">
            <a th:href="@{/projects/global/all}">
                <i class="fas fa-globe"></i>
                <span th:utext="#{user.project.menu.globalprojects}">Global</span>
            </a>
        </li>
    </ul>
</nav>
