<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bad user</title>

    <link rel="stylesheet" href="/resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/css/style.css"/>

    <script src="/resources/js/jquery-3.5.1.min.js"></script>
    <script th:inline="javascript">var requiredMessage = /*[[#{label.form.requiredFields}]]*/;</script>
    <script th:src="@{/resources/js/util.js}"></script>
</head>
<body>

<!--Load Wrapper-->
<div th:replace="/fragments/loadingWrapper :: loadingWrapper"></div>

<!--Page Header-->
<header th:replace="/fragments/header :: pageHeader"></header>

<!--Language Selector-->
<div th:replace="/fragments/languageSelector :: languageSelector"></div>

<!--Main Section Container-->
<main class="container-md mt-2">
    <h3 class="alert alert-warning" th:utext="${#messages.msgWithParams(message, email)}"
        th:unless="${message == null || email == null}">error</h3>
    <h3 class="alert alert-danger" th:utext="#{${error}}" th:unless="${error == null}">error</h3>
    <div class="d-inline">
        <a class="btn btn-primary" th:href="@{/signUp}" th:utext="#{label.form.loginSignUp}">signup</a>
        <div th:if="${token != null}" class="d-inline">
            <button class="btn btn-secondary" onclick="resendToken()" th:utext="#{label.form.resendRegistrationToken}">
            </button>

            <script th:inline="javascript">
                const serverContext = /*[[@{/}]]*/;

                    function resendToken() {
                        var token = [[${token}]];
                        $.get(serverContext + "user/resendRegistrationToken?token=" + token, function (data) {
                            window.location.href = serverContext + "login?message=" + data.message;
                        })
                            .fail(function (data) {
                                if (data.responseJSON.error.indexOf("MailError") > -1) {
                                    window.location.href = serverContext + "emailError";
                                } else {
                                    window.location.href = serverContext + "login?error=" + data.responseJSON.message;
                                }
                            });
                    }
            </script>

        </div>
    </div>
</main>

<!--Page Footer-->
<footer th:replace="/fragments/footer :: pageFooter"></footer>
</body>
</html>
