<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Console</title>
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css"/>

    <!-- JQuery -->
    <script src="/resources/js/jquery-3.5.1.min.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.22/dataRender/ellipsis.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/rowgroup/1.1.2/js/dataTables.rowGroup.min.js"></script>
    <!-- Custom JS -->
    <script th:inline="javascript">const requiredMessage = [[#{label.form.requiredFields}]];</script>
    <script th:src="@{/resources/js/util.js}"></script>
    <script th:src="@{/resources/js/sideBar.js}"></script>
</head>

<body sec:authorize="hasRole('ADMIN')">

<!--Load Wrapper-->
<div th:replace="fragments/loadingWrapper :: loadingWrapper"></div>

<!--Page Header-->
<div th:replace="fragments/header :: pageHeader"></div>

<!--Notificaction Banners-->
<div th:with="msg=${param.message}">
    <div class="alert alert-info" th:utext="#{${msg}}"
         th:unless="${msg == null}">message
    </div>
</div>
<div id="errormsg" class="alert alert-danger" style="display:none"></div>
<div id="successmsg" class="alert alert-success" style="display:none"></div>

<!-- Sensor Registration Modal Form -->
<div class="modal fade" id="sensorModal" tabindex="-1" aria-labelledby="sensorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="sensorModalLabel" th:utext="#{label.pages.title.sensors.register}">Modal
                    title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" method="POST" enctype="utf8" id="sensorForm">
                <div class="modal-body">
                    <div class="form-group row">
                        <div id="nameError" class="text-danger row col offset-3" style="display:none"></div>
                        <div class="row col-12">
                            <label for="name" class="col-sm-3" th:utext="#{label.sensor.name}">name</label>
                            <div class="col-sm-9">
                                <input id="name" class="form-control" name="name" type="text" value="" required/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div id="aliasError" class="text-danger row col offset-3" style="display:none"></div>
                        <div class="row col-12">
                            <label for="alias" class="col-sm-3" th:utext="#{label.sensor.alias}">alias</label>
                            <div class="col-sm-9">
                                <input id="alias" class="form-control" name="alias" type="text" value="" required/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div id="descriptionError" class="text-danger row col offset-3" style="display:none"></div>
                        <div class="row col-12">
                            <label for="description" class="col-sm-3 align-self-start"
                                   th:utext="#{label.sensor.description}">
                                description
                            </label>
                            <div class="col-sm-9">
                                <textarea id="description" maxlength="255" class="form-control" name="description"
                                          rows="5"></textarea>
                            </div>
                        </div>
                        <div id="globalError" class="text-danger row col p-4" style="display:none"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="text" name="id" id="id" value="" hidden>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                            th:utext="#{label.form.cancel}">
                        cancel
                    </button>
                    <button class="btn btn-primary" type="submit" th:utext="#{label.form.save}"></button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid row w-100 pr-0">
    <!-- Sidebar  -->
    <div th:replace="fragments/adminSidebar :: adminSidebar"></div>

    <!--Main Section Container-->
    <main id="content" role="main" class="col pr-0 pl-2">
        <div class="container-fluid px-0 d-flex">
            <button type="button" id="sidebarCollapse" class="btn btn-light mt-2">
                <i class="fas fa-align-left"></i>
            </button>
            <!--Language Selector-->
            <div th:replace="fragments/languageSelector :: languageSelector"></div>
        </div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/console}" th:utext="#{label.nav.console}">Console</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" th:utext="#{label.pages.title.users}"
                        th:unless="${#strings.contains(#httpServletRequest.requestURI.toLowerCase(), 'sensors')}"></li>
                    <li class="breadcrumb-item active" aria-current="page" th:utext="#{label.pages.title.sensors}"
                        th:if="${#strings.contains(#httpServletRequest.requestURI.toLowerCase(), 'sensors')}"></li>
                </ol>
            </nav>

            <div class="btn-toolbar mb-2 mb-md-0">
                <button th:inline='text' class="btn btn-outline-secondary" onclick="fetchUsers()"
                        th:if="${sensors == null}">
                    <span th:utext="#{label.pages.button.refresh}"></span>
                    <i class="fas fa-sync-alt"></i>
                </button>

                <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#sensorModal"
                        onclick="clearForm()"
                        th:if="${sensors != null}">
                    <span th:utext="#{label.pages.button.sensors.add}"></span>
                    <i class="fas fa-plus-circle"></i>
                </button>
            </div>
        </div>
        <section>
            <div id="tableSpinner" class="custom-spinner spinner-border" role="status" style="display: none">
                <span class="sr-only">Loading...</span>
            </div>
            <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
                <caption th:inline="text" th:if="${sensors == null}">
                    <i class="fas fa-users"></i>
                    [[#{label.pages.title.users}]]
                </caption>
                <caption th:inline="text" th:if="${sensors != null}">
                    <i class="fas fa-microchip"></i>
                    [[#{label.pages.title.sensors}]]
                </caption>
            </table>
        </section>
    </main>
</div>

<!--Page Footer-->
<footer th:replace="fragments/footer :: pageFooter"></footer>

<!--DataTables JS Functionalities-->
<script th:inline="javascript">
    let langUrl = '';

    $(document).ready(() => {
        startLoad();
        let sensors = [[${sensors}]];
        if (sensors) {
            sensors = JSON.parse(sensors);
            drawSensorsTable(sensors.all);
        } else {
            fetchUsers();
        }
    });

    function loadSensorModal(data) {
        $("#name").val(data.name);
        $("#alias").val(data.alias);
        $("#description").val(data.description);
        $("#id").val(data.id);
        $("#sensorModal").modal('show');
    }

    function handleRoleChange(element) {
        let data = {"user": element.id, "role": element.options[element.selectedIndex].value};
        $.ajax({
            url: `${serverContext}admin/user/role`,
            type: 'PUT',
            contentType: "application/json",
            data: JSON.stringify(data),
            success: (data) => {
                alert('SUCCESS: The operation was performed');
            },
            error: (data) => {
                alert("ERROR: Could not perform the operation");
            }
        });
    }

    const renderTableSelector = (data, type, row) => {
        const encoded = utf8_to_b64(row.email);
        return `<select id=${encoded} class="form-control" onChange="handleRoleChange(this)">` +
            `<option value="user" ${data === 'User' ? 'selected' : ''}>User</option>` +
            `<option value="admin" ${data === 'Admin' ? 'selected' : ''}>Admin</option>` +
            '</select>';
    };

    const renderTooltip = (data, type, row) => {
        const ipTooltip = row.ip ? `<span data-toggle="tooltip" data-placement="left" title="IP Address: ${row.ip}">
                <i class="fas fa-info-circle ml-2"></i></span>` : '';

        return `<i class="fas fa-circle" style="font-size:0.5em;color:${row.ip ? 'green' : 'red'}"></i>
                ${row.status} ${ipTooltip}`;
    };

    function fetchUsers() {
        if (!loadingData) {
            startLoad();
        }
        $.get(serverContext + "admin/user/all", function (data) {
            let users = data.all.map(u => ({
                ...data.active.find((user) => (user.email === u.email) && user),
                ...u
            }))
                .map(user => user.admin ? {...user, admin: 'Admin'} : {...user, admin: 'User'})
                .map(user => user.enabled ? {...user, enabled: [[#{table.user.value.enabled}]]} :
                    {...user, enabled: [[#{table.user.value.disabled}]]})
                .map(user => user.ip ? {...user, status: 'Online'} : {...user, status: 'Offline'});
            drawUsersTable(users);
        }).fail(function (data) {
            alert("ERROR: Could not fetch data");
            endLoad();
        });
    }

    function fetchSensors() {
        if (!loadingData) {
            startLoad();
        }
        $.get(serverContext + "sensor/all", function (data) {
            const sensors = data.all;
            drawSensorsTable(sensors);
        }).fail(function (data) {
            alert("ERROR: Could not fetch data");
            endLoad();
        });
    }

    function drawSensorsTable(sensors) {
        if (lang && lang === 'es') {
            langUrl = 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/Spanish.json';
        } else {
            langUrl = 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/English.json';
        }

        //IF datatable is created, update data
        if ($.fn.dataTable.isDataTable('#dataTable')) {
            let datatable = new $.fn.dataTable.Api('#dataTable');
            datatable.clear();
            datatable.rows.add(sensors);
            datatable.draw();
        }
        //ELSE, create datatable
        else {
            return $('#dataTable').DataTable({
                drawCallback: () => {
                    $('[data-toggle="tooltip"]').tooltip();
                    endLoad();
                    const table = $('#dataTable').DataTable();
                    $('#dataTable tbody tr').off().click((e) => {
                        const data = table.row(e.currentTarget).data();
                        loadSensorModal(data);
                    });
                },
                data: sensors,
                columnDefs: [
                    {targets: 2, render: $.fn.dataTable.render.ellipsis(100)}
                ],
                columns: [
                    {title: [[#{table.sensor.column.name}]], data: "name"},
                    {title: [[#{table.sensor.column.alias}]], data: "alias"},
                    {title: [[#{table.sensor.column.description}]], data: "description"}
                ],
                retrieve: true,
                language: {
                    url: langUrl
                },
                responsive: true,
            });
        }
    }

    function drawUsersTable(users) {
        if (lang && lang === 'es') {
            langUrl = 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/Spanish.json';
        } else {
            langUrl = 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/English.json';
        }

        //IF datatable is created, update data
        if ($.fn.dataTable.isDataTable('#dataTable')) {
            let datatable = new $.fn.dataTable.Api('#dataTable');
            datatable.clear();
            datatable.rows.add(users);
            datatable.draw();
        }
        //ELSE, create datatable
        else {
            $('#dataTable').DataTable({
                drawCallback: () => {
                    $('[data-toggle="tooltip"]').tooltip();
                    endLoad();
                },
                data: users,
                columnDefs: [
                    {targets: [4], visible: false},
                    {responsivePriority: 1, targets: -1}
                ],
                columns: [
                    {title: [[#{table.user.column.email}]], data: "email"},
                    {title: [[#{table.user.column.username}]], data: "username"},
                    {title: [[#{table.user.column.account}]], data: "enabled"},
                    {title: [[#{table.user.column.status}]], data: "status", render: renderTooltip},
                    {title: "Ip", data: "ip", defaultContent: "<i>N/A</i>"},
                    {title: [[#{table.user.column.role}]], data: "admin", render: renderTableSelector},
                ],
                retrieve: true,
                language: {
                    url: langUrl
                },
                responsive: true,
            });
        }
    }
</script>

<!--Sensor JS Functionalities-->
<script th:inline="javascript">
    $(document).ready(function () {
        $('#sensorForm').submit(function (event) {
            saveSensor(event);
        });
    });

    function clearForm() {
        $("#sensorForm")[0].reset();
    }

    function saveSensor(event) {
        event.preventDefault();
        $(".alert").html("").hide();
        $(".error-list").html("");
        const formData = $('#sensorForm').serialize();
        $.post(serverContext + "admin/sensor/add", formData, function (data) {
            $('#sensorModal').modal('hide');
            fetchSensors();
            if (data === 'updated') {
                $("#successmsg").show().html(/*[[#{message.sensor.success.update}]]*/);
            } else {
                $("#successmsg").show().html(/*[[#{message.sensor.success.register}]]*/);
            }
        })
            .fail(function (data) {
                if (data.responseJSON.error.indexOf("SensorAlreadyExists") > -1) {
                    $("#errormsg").show().append(data.responseJSON.message);
                    $('#sensorModal').modal('hide');
                } else if (data.responseJSON.error.indexOf("InternalError") > -1) {
                    $("#errormsg").show().append(data.responseJSON.message);
                    $('#sensorModal').modal('hide');
                } else {
                    const errors = $.parseJSON(data.responseJSON.message);
                    $.each(errors, function (index, item) {
                        if (item.field) {
                            $("#" + item.field + "Error").show().append(item.defaultMessage + "<br/>");
                        } else {
                            $("#globalError").show().append(item.defaultMessage + "<br/>");
                        }
                    });
                }
            });
    }
</script>
</body>
</html>
