<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Invalid session</title>

    <link rel="stylesheet" href="/resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/css/style.css"/>

    <script src="/resources/js/jquery-3.5.1.min.js"></script>

</head>
<body>

<!--Language Selector-->
<div th:replace="/fragments/languageSelector :: languageSelector"></div>

<!--Main Section Container-->
<main class="container-md mt-2 mb-2">
    <div class="jumbotron alert-danger">
        <h1 th:utext="#{message.error}">error</h1>
        <h2 th:utext="#{message.sessionExpired}">expired</h2>
    </div>

    <a class="btn btn-primary" th:href="@{/login}" th:utext="#{label.login}">login</a>
</main>

<!--Page Footer-->
<footer th:replace="/fragments/footer :: pageFooter"></footer>
</body>
</html>
