<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:inline="text">Project #[[${project.id}]]</title>

    <!-- Bootstrap4 CSS -->
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap4.min.css"/>
    <!-- Select2 CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.jsdelivr.net/npm/@ttskch/select2-bootstrap4-theme@1.5.2/dist/select2-bootstrap4.min.css">

    <!-- JQuery -->
    <script src="/resources/js/jquery-3.5.1.min.js"></script>
    <!-- DataTables JS -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/plug-ins/1.10.22/dataRender/ellipsis.js"></script>
    <script type="text/javascript"
            src="https://cdn.datatables.net/rowgroup/1.1.2/js/dataTables.rowGroup.min.js"></script>

    <!--  Select2 JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/i18n/es.min.js"
            integrity="sha512-xntXNPHoIOoLxuqmYhDB6MA67yimB0HxKb20FTgBcAO7RUk2jwctNYIkencPjG4hdxde8ee6FHqACJqGYYSiSg=="
            crossorigin="anonymous"></script>
    <!-- Google Charts JS -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- FileSaver JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"
            integrity="sha512-k8F8QynmFNURwbUJC8drKA+fo3YfNvjqKzStdydD6au+MzvxBoRnxH8E31RJXwDY9DrnEiPhh9wBoDSIxhkyHQ=="
            crossorigin="anonymous"></script>
    <!-- HTML2PDF JS -->
    <script th:src="@{/resources/js/html2pdf.bundle.min.js}"></script>
    <!-- Simple Statistics JS -->
    <script src="https://unpkg.com/simple-statistics@7.6.0/dist/simple-statistics.min.js"></script>
    <!-- Plotly JS -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
    <!-- Custom JS -->
    <script th:inline="javascript">const requiredMessage = [[#{label.form.requiredFields}]];</script>
    <script th:src="@{/resources/js/util.js}"></script>
    <script th:src="@{/resources/js/sideBar.js}"></script>
    <script th:src="@{/resources/js/statistics.js}"></script>
</head>

<body sec:authorize="hasRole('USER')">

<!--Load Wrapper-->
<div th:replace="fragments/loadingWrapper :: loadingWrapper"></div>

<!--Page Header-->
<header th:replace="fragments/header :: pageHeader"></header>

<!--Notificaction Banners-->
<div th:with="msg=${param.message}">
    <div class="alert alert-info" th:utext="#{${msg}}"
         th:unless="${msg == null}">message
    </div>
</div>
<div id="errormsg" class="alert alert-danger" style="display:none"></div>
<div id="successmsg" class="alert alert-success" style="display:none"></div>

<!-- Project Labels Modal Form -->
<div th:replace="fragments/labelsModal :: labelsModal"></div>

<!-- Project Subject Modal Form -->
<div th:replace="fragments/subjectModal :: subjectModal"></div>

<!-- Sample View Modal -->
<div th:replace="fragments/sampleViewModal :: sampleViewModal"></div>

<div class="container-fluid row w-100 pr-0">
    <!-- Sidebar  -->
    <div th:replace="fragments/userSidebar :: userSidebar"></div>

    <!--Main Section Container-->
    <main id="content" role="main" class="col pr-0 pl-2">
        <div class="container-fluid px-0 d-flex">
            <button type="button" id="sidebarCollapse" class="btn btn-light mt-2">
                <i class="fas fa-align-left"></i>
            </button>
            <!--Language Selector-->
            <div th:replace="fragments/languageSelector :: languageSelector"></div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/home}" th:utext="#{label.nav.home}">Home</a></li>
                    <li class="breadcrumb-item"><a th:href="@{/home}" th:utext="#{user.project.menu.myprojects}"></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"
                        th:utext="#{user.project.menu.project(${project.id})}"></li>
                </ol>
            </nav>
            <h3 id="projectTitle" class="my-0" data-toggle="tooltip" data-placement="top"
                th:utext="${project.name}">
            </h3>
            <div class="btn-toolbar mb-2 mb-md-0">
                <a th:href="@{/registerSample/{id}(id=${project.id})}" class="btn btn-outline-primary">
                    <span th:utext="#{label.pages.button.sample.add}"></span>
                    <i class="fas fa-plus-circle"></i>
                </a>
            </div>
        </div>
        <div class="pb-2 mb-3 border-bottom">
            <div class="row my-2">
                <div class="col-4" th:inline="text">
                    <i class="fas fa-user-lock"></i>
                    [[#{table.project.column.role.owner}]]: [[${project.user.username}]]
                </div>
                <div class="col-4" th:inline="text">
                    <i class="fas fa-calendar-day"></i>
                    <span th:utext="#{table.project.column.date}"></span>:
                    <span th:text="${#dates.format(project.startDate, 'dd-MM-yyyy')}"></span>
                </div>
                <div class="col-4 text-right">
                    <button th:unless="${project.subject} == null" id="userBtn" class="p-0 btn btn-link text-left"
                            th:inline="text"
                            onclick="showSubjectForm(this)">
                        <i class="fas fa-eye"></i>
                        [[#{label.pages.title.project.subject}]]
                    </button>
                    <button th:unless="${project.subject} != null" class="p-0 btn btn-link text-left"
                            th:inline="text"
                            th:onclick="registerSubject([[${project.id}]])">
                        <i class="fas fa-user-plus"></i>
                        [[#{project.subject.register}]]
                    </button>
                </div>
            </div>
            <div class="row my-2">
                <div id="collaboratorTitle" class="col-4" th:inline="text">
                    <i class="fas fa-user-friends"></i>
                    [[#{project.title.collaborators}]]
                    <div id="collaborators">
                        <ul>
                            <li th:each="collab : ${project.collaborationRequests}"
                                th:utext="${collab.collaborator.username}"
                                th:unless="${collab.requestStatus} != 'approved'">
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-4 d-flex align-items-center">
                    <i class="fas fa-tags"></i>
                    <button id="labelsBtn" data-toggle="tooltip" data-placement="top" class="p-0 btn btn-link text-left"
                            th:inline="text"
                            th:onclick="addOrRemoveLabels([[${project.id}]])">[[#{table.project.column.labels}]]:
                    </button>
                    <span th:if="${project.labels == null or project.labels.empty}">&nbsp;-</span>
                    <ul class="my-0 list-inline">
                        &nbsp;
                        <li th:each="label : ${project.labels}"
                            th:utext="${label.name}" class="tag badge badge-pill list-inline-item">
                        </li>
                    </ul>
                </div>
                <div class="col-4 text-right">
                    <button th:if="${role} == 'owner'"
                            th:inline="text"
                            th:onclick="deleteProject([[${project.id}]])"
                            id="deleteBtn" class="p-0 btn text-danger btn-link text-left">
                        <i class="fas fa-times"></i>
                        [[#{table.project.option.delete}]]
                    </button>
                </div>
            </div>
        </div>
        <section>
            <div id="tableSpinner" class="custom-spinner spinner-border" role="status" style="display: none">
                <span class="sr-only">Loading...</span>
            </div>
            <table id="dataTable" class="table table-striped table-bordered" style="width:100%">
                <caption th:inline="text">
                    <i class="fab fa-mendeley"></i>
                    [[#{label.pages.title.samples}]]
                </caption>
            </table>
        </section>
    </main>
</div>

<div id="end"></div>

<!--Page Footer-->
<footer th:replace="fragments/footer :: pageFooter"></footer>

<!--Project JS Functionalities-->
<script th:inline="javascript">
    const encoded = utf8_to_b64(JSON.stringify(/*[[${project}]]*/));
    $("#userBtn").attr("id", encoded);

    $(document).ready(function () {
        startLoad();
        fetchSamples();

        $("#labelsBtn").attr("title", htmlDecode([[#{label.pages.title.project.labels}]]));
        $("#projectTitle").attr("title", htmlDecode([[${project.description}]]));
        $('[data-toggle="tooltip"]').tooltip();

        $("#collaboratorTitle").mouseenter(function () {
            $("#collaborators").show();
        });
        $("#collaboratorTitle").mouseleave(function () {
            $("#collaborators").hide();
        });
        const tags = $(".tag").toArray();
        if (tags) {
            tags?.forEach(tag => {
                $(tag).addClass(`badge-${getRandomColor()}`);
            })
        } else {

        }
        const collaborators = $("#collaborators ul li").toArray();
        if (collaborators.length === 0) {
            $("#collaborators").empty().text(htmlDecode([[#{project.title.collaborators.none}]]));
        }
    });

    function deleteProject(projectId) {
        if (confirm(htmlDecode(/*[[#{message.confirm.project.delete}]]*/))) {
            $.ajax({
                type: 'DELETE',
                url: serverContext + 'project/delete/' + projectId,
                success: (data) => {
                    alert(/*[[#{message.project.success.delete}]]*/);
                    window.location.href = serverContext + "home";
                },
                error: (data) => {
                    $("#errormsg").show().html(/*[[#{message.error.operation}]]*/);
                }
            });
        }
    }
</script>

<!--Sample JS Functionalities-->
<script th:inline="javascript">
    function fetchSamples() {
        if (!loadingData) {
            startLoad();
        }
        $.get(serverContext + `samples/all?projectId=${[[${project.id}]]}`, function (data) {
            const samples = data.all;
            drawSamplesTable(samples);
        }).fail(function (data) {
            alert("ERROR: Could not fetch data");
            endLoad();
        });
    }

    function fetchSample(sampleId, exportOpt) {
        clearSelectedSample();
        $.ajax({
            type: 'GET',
            url: serverContext + 'sample/' + sampleId,
            success: (data) => {
                selectedSampleData = data.sample;
                selectedSampleValues = data.values;
                if (selectedSampleData.dataChannels.length > 1) {
                    $('#statsMultiBtn').attr('disabled', false);
                }
                if (exportOpt) {
                    switch (exportOpt) {
                        case 'csv':
                            exportCSV();
                            break;
                        case 'txt':
                            exportTXT();
                            break;
                        case 'report':
                            startLoad();
                            generateReport();
                            break;
                    }
                } else {
                    toggleView('table');
                }
            },
            error: (data) => {
                $("#errormsg").show().html(/*[[#{message.error.operation}]]*/);
            }
        });
    }

    function handleSampleAction(element) {
        const selectedOption = element.options[element.selectedIndex].value;
        const id = element.id.substring(element.id.indexOf('-') + 1);
        switch (selectedOption) {
            case 'csv':
                fetchSample(id, selectedOption);
                break;
            case 'txt':
                fetchSample(id, selectedOption);
                break;
            case 'report':
                fetchSample(id, selectedOption);
                break;
            case 'delete':
                deleteSample(id);
                break;
        }
        $(element).prop('selectedIndex', 0);
    }

    function deleteSample(sampleId) {
        if (confirm(htmlDecode(/*[[#{message.confirm.sample.delete}]]*/))) {
            $("#sampleModal").modal('hide');
            $.ajax({
                type: 'DELETE',
                url: serverContext + 'sample/delete/' + sampleId,
                success: (data) => {
                    $("#successmsg").show().html(/*[[#{message.sample.success.delete}]]*/);
                    fetchSamples();
                },
                error: (data) => {
                    $("#errormsg").show().html(/*[[#{message.error.operation}]]*/);
                }
            });
        }
    }
</script>

<!--DataTables JS Functionalities-->
<script th:inline="javascript">
    const renderDeviceInfo = (data, type, row) => {
        return `<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="left" data-html="true"
                title="<ul class='list-unstyled'>
                <li><strong>${[[#{table.sample.tooltip.device.name}]]}</strong> ${row.deviceName ?? 'N/A'}</li>
                <li><strong>${[[#{table.sample.tooltip.device.model}]]}</strong> ${row.deviceModel ?? 'N/A'}</li>
                <li><strong>${[[#{table.sample.tooltip.device.firmware}]]}</strong> ${row.deviceFirmware ?? 'N/A'}</li>
                </ul>"></i>`;
    };

    const renderSampleInfo = (data, type, row) => {
        return `<i class="fas fa-info-circle" data-toggle="tooltip" data-placement="left" data-html="true"
                title="<ul class='list-unstyled'>
                <li><strong>${[[#{sample.label.samplingRate}]]}</strong> ${row.samplingRate ? row.samplingRate : 'N/A'}</li>
                <li><strong>${[[#{table.sample.tooltip.comments}]]}</strong> ${row.comments ? row.comments : 'N/A'}</li>
                </ul>"></i>`;
    };

    const renderChannelInfo = (data, type, row) => {
        let channelInfo = '';
        row.dataChannels?.forEach((c) => {
            channelInfo += "<ul class='list-unstyled'>";
            channelInfo += `<li><strong>${[[#{sample.channel.name}]]}</strong> ${c.channelName ?? 'N/A'}</li>`;
            channelInfo += `<li><strong>${[[#{sample.channel.label}]]}</strong> ${c.channelLabel ?? 'N/A'}</li>`;
            channelInfo += `<li><strong>Sensor(alias):</strong> ${c.sensor.alias ?? 'RAW'}</li>`;
            channelInfo += "</ul>";
        });
        return channelInfo === '' ? 'N/A'
            : `${row.dataChannels.length} <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="left"
            data-html="true" title="${channelInfo}"></i>`;
    };

    const renderSampleActions = (data, type, row) => {
        const exportOpts = `<optgroup label="${[[#{sample.button.export}]]}">`
            + `<option value="csv">${[[#{sample.modal.save.tooltip.csv}]]}</option>`
            + `<option value="txt">${[[#{sample.modal.save.tooltip.txt}]]}</option>`
            + `</optgroup>`;
        const reportOpt = `<option value="report">${[[#{sample.button.report.generate}]]}</option>`
        const deleteOpt = `<option class="text-danger" value="delete">${[[#{table.sample.option.delete}]]}</option>`;
        return `<select id="project-${row.id}" class="form-control" onChange="handleSampleAction(this)">
                    <option value="" disabled selected>${[[#{table.select.option.default}]]}</option>
                    ${exportOpts}
                    ${reportOpt}
                    ${[[${role}]] === 'owner' ? deleteOpt : ''}
                </select>`;
    };

    function drawSamplesTable(samples) {
        if (lang && lang === 'es') {
            langUrl = 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/Spanish.json';
        } else {
            langUrl = 'https://cdn.datatables.net/plug-ins/1.10.22/i18n/English.json';
        }

        //IF datatable is created, update data
        if ($.fn.dataTable.isDataTable('#dataTable')) {
            let datatable = new $.fn.dataTable.Api('#dataTable');
            datatable.clear();
            datatable.rows.add(samples);
            datatable.draw();
        }
        //ELSE, create datatable
        else {
            $('#dataTable').DataTable({
                drawCallback: () => {
                    $('[data-toggle="tooltip"]').tooltip();
                    endLoad();
                    const table = $('#dataTable').DataTable();
                    $("#dataTable button, #dataTable select").click(function (event) {
                        event.stopPropagation();
                    });
                    $('#dataTable tbody tr').off().click((e) => {
                        const data = table.row(e.currentTarget).data();
                        if (selectedSampleData && selectedSampleValues && selectedSampleData.id === data.id) {
                            toggleView('table');
                            $("#sampleModal").modal('show');
                        } else {
                            fetchSample(data.id);
                        }
                        ;
                    });
                },
                data: samples,
                columnDefs: [],
                columns: [
                    {title: "#Id", data: "id"},
                    {title: [[#{table.sample.column.date}]], data: "sampleDate"},
                    {title: [[#{table.sample.column.channels}]], render: renderChannelInfo},
                    {title: [[#{table.sample.column.size}]], data: "size"},
                    {title: [[#{table.sample.column.device}]], render: renderDeviceInfo},
                    {title: [[#{table.sample.column.info}]], render: renderSampleInfo},
                    {title: [[#{table.sample.column.actions}]], render: renderSampleActions},

                ],
                retrieve: true,
                language: {
                    url: langUrl
                },
                responsive: true,
            });
        }
    }

    function clearSelectedSample() {
        $("#sampleTable").children().empty();
        $("#statsUniTable").children().empty();
        Plotly.purge(document.getElementById("plots"));
        Plotly.purge(document.getElementById("reportChartContainer"));
        $("#statsMultiTable").children().empty();
        $("#sampleModalLabel span").remove();
        $("#chartContent").empty();
        correlationMatrix = undefined;
        selectedSampleData = undefined;
        selectedSampleValues = undefined;
        selectedSampleValuesNorm = undefined;
        $("#normalizeSwitch").prop("checked", false);
        normalized = false;
    }
</script>
</body>
</html>
