<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" th:href="@{/resources/images/favicon.png}"/>
    <title>Sample-Register</title>

    <!-- Bootstrap4 CSS -->
    <link rel="stylesheet" type="text/css" href="/resources/css/bootstrap.min.css"/>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/resources/css/style.css"/>
    <link rel="stylesheet" type="text/css" href="/resources/css/data-sample/main.css">
    <!-- JQuery -->
    <script src="/resources/js/jquery-3.5.1.min.js"></script>
    <!-- Google Charts JS -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <!-- FileSaver JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.2/FileSaver.min.js"
            integrity="sha512-k8F8QynmFNURwbUJC8drKA+fo3YfNvjqKzStdydD6au+MzvxBoRnxH8E31RJXwDY9DrnEiPhh9wBoDSIxhkyHQ=="
            crossorigin="anonymous"></script>
    <!-- Custom JS -->
    <script th:inline="javascript">const requiredMessage = [[#{label.form.requiredFields}]];</script>
    <script th:src="@{/resources/js/util.js}"></script>
    <script th:src="@{/resources/js/sideBar.js}"></script>
</head>

<body sec:authorize="hasRole('USER')">

<!--Load Wrapper-->
<div th:replace="fragments/loadingWrapper :: loadingWrapper"></div>

<!--Page Header-->
<header th:replace="fragments/header :: pageHeader"></header>

<!--Notificaction Banners-->
<div th:with="msg=${param.message}">
    <div class="alert alert-info" th:utext="#{${msg}}"
         th:unless="${msg == undefined}">message
    </div>
</div>
<div id="errormsg" class="alert alert-danger" style="display:none"></div>
<div id="successmsg" class="alert alert-success" style="display:none"></div>

<!-- Save DataSample Modal Form -->
<div class="modal fade" id="modalFileSave" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="saveModalLabel" th:utext="#{sample.save.modal.title}"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="fileSaveForm">
                    <div class="row text-center">
                        <div class="col-2"><strong th:utext="#{sample.table.channel}">Channel</strong></div>
                        <div class="col-3"><strong>Sensor</strong></div>
                        <div class="col-5"><strong th:utext="#{sample.modal.save.label}">Label</strong></div>
                        <div class="col-2"><strong th:utext="#{label.form.save}">Save</strong></div>
                    </div>
                    <hr>
                    <textarea id="comments" name="comments" class="form-control"
                              th:attr="placeholder=#{sample.modal.save.comments}"></textarea>
                    <div class="mt-4 d-flex justify-content-between">
                        <div class="d-flex">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text mr-2">Local:</span>
                                </div>
                                <div class="custom-control custom-switch mx-4 my-auto">
                                    <input type="checkbox" class="custom-control-input" id="txtSwitch">
                                    <label class="custom-control-label" for="txtSwitch" data-toggle="tooltip"
                                           data-placement="top" th:attr="title=#{sample.modal.save.tooltip.txt}">
                                        <i class="fas fa-file-alt fa-2x"></i></label>
                                </div>
                                <div class="custom-control custom-switch mx-4 my-auto">
                                    <input type="checkbox" class="custom-control-input" id="csvSwitch">
                                    <label class="custom-control-label" for="csvSwitch" data-toggle="tooltip"
                                           data-placement="top" th:attr="title=#{sample.modal.save.tooltip.csv}">
                                        <i class="fas fa-file-csv fa-2x"></i></label>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text rounded-left mr-2"
                                          th:utext="#{sample.modal.save.remote}"></span>
                                </div>
                                <div class="custom-control custom-switch ml-2 my-auto">
                                    <input type="checkbox" class="custom-control-input" id="dbSwitch" checked>
                                    <label class="custom-control-label" for="dbSwitch" data-toggle="tooltip"
                                           data-placement="top" th:attr="title=#{sample.modal.save.tooltip.project}">
                                        <i class="fas fa-cloud-upload-alt fa-2x"></i>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input id="sRate" name="samplingRate" hidden/>
                    <input id="deviceName" name="deviceName" hidden/>
                    <input id="deviceModel" name="deviceModel" value="bitalino_rev" hidden/>
                    <input id="deviceFirmware" name="deviceFirmware" hidden/>
                    <input id="size" name="size" hidden/>
                    <input id="projectId" name="projectId" th:attr="value=${project.id}" hidden/>
                </form>
            </div>
            <div id="globalError" class="text-danger row col p-4" style="display:none"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                        th:utext="#{label.form.cancel}">Cancel
                </button>
                <button type="button" class="btn btn-primary" id="confirmSaveBtn" onclick="handleSampleSave()"
                        th:utext="#{label.form.confirm}">Confirm
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Modal -->

<div class="container-fluid row w-100 pr-0">
    <!-- Sidebar  -->
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <!--Main Section Container-->
    <main id="content" role="main" class="col px-3">
        <div class="container-fluid px-0 d-flex">
            <button type="button" id="sidebarCollapse" class="btn btn-light mt-2">
                <i class="fas fa-align-left"></i>
            </button>
            <!--Language Selector-->
            <div th:replace="fragments/languageSelector :: languageSelector"></div>
        </div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a th:href="@{/home}" th:utext="#{label.nav.home}">Home</a></li>
                    <li class="breadcrumb-item" th:if="${role} == 'owner'">
                        <a th:href="@{/home}" th:utext="#{user.project.menu.myprojects}"></a>
                    </li>
                    <li class="breadcrumb-item" th:if="${role} == 'collaborator'">
                        <a th:href="@{/collaborations}" th:utext="#{user.project.menu.collaboratedprojects}"></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a th:href="@{/project/{id}(id=${project.id})}"
                           th:utext="#{user.project.menu.project(${project.id})}"></a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"
                        th:utext="#{label.pages.sample.new}">
                    </li>
                </ol>
            </nav>
            <h3 id="projectTitle" class="my-0" data-toggle="tooltip" data-placement="top"
                th:utext="${project.name}">
            </h3>
            <div class="btn-toolbar mb-2 mb-md-0">
                <button th:inline="text" class="btn btn-info mr-2" id="saveDataBtn" data-toggle="modal"
                        data-target="#modalFileSave" disabled>
                    [[#{label.form.save}]]
                    <i class="far fa-save"></i>
                </button>
                <input type="button" class="btn btn-secondary ml-2" id="resetBtn"
                       th:value="#{sample.button.reset}" disabled/>
            </div>
        </div>
        <div class="pb-2 mb-3">
            <div class="d-flex my-0">
                <button type="button" class="btn btn-primary btn-sm" id="connectBtn" th:inline="text">
                    [[#{sample.device.button}]] &nbsp;
                    <i class="fab fa-bluetooth"></i>
                </button>
                <span id="status" class="disconnected my-auto mx-2"
                      th:utext="#{sample.device.status.disconnected}">
                </span>
                <div id="bitalinoSchematicContainer" class="d-flex align-items-center mx-4">
                    <i class="schema-icon fas fa-microchip"></i>
                    <img id="bitalinoSchematic" alt="bitalino schematic" th:src="@{/resources/images/bitalino_map.png}" />
                </div>
                <div class="custom-file w-25 ml-auto">
                    <input type="file" class="custom-file-input" id="sampleFile" accept=".txt">
                    <label class="custom-file-label" for="sampleFile" th:utext="#{sample.file.upload}"
                           th:attr="data-browse=#{sample.file.browse}">
                    </label>
                </div>
            </div>
            <div id="controlBtns" class="row mx-0 my-4 align-items-center">
                <div class="pl-0 col">
                    <label class="my-auto mr-1" for="numSamples" th:utext="#{sample.label.number}"></label>
                    <input class="form-control form-control-sm d-inline" id="numSamples" type="number" value=0 min="0"
                           step="5" style="width:100px" data-toggle="tooltip" data-placement="top"
                           th:attr="title=#{sample.label.number.tooltip}" disabled/>
                </div>
                <div class="col text-center">
                    <label class="my-auto" for="isSimulated" th:utext="#{sample.label.simulate}">simulate</label>
                    <input class="my-auto mx-1" id="isSimulated" type="checkbox" disabled>

                    <label class="my-auto ml-2 mr-1" for="isPlot" th:utext="#{sample.label.plot}">plot</label>
                    <input class="my-auto" id="isPlot" type="checkbox" disabled>
                </div>
                <div class="col text-center">
                    <label class="my-auto" for="samplingRate" th:utext="#{sample.label.samplingRate}"></label>
                    <select id="samplingRate" class="form-control form-control-sm d-inline ml-1" style="width: auto"
                            disabled>
                        <option value=1>1</option>
                        <option value=10 selected>10</option>
                        <option value=100 disabled>100</option>
                        <option value=1000 disabled>1000</option>
                    </select>
                </div>
                <div class="col text-center">
                    <button type="button" class="btn btn-success btn-sm mx-2" id="startSamplingBtn" disabled>START
                    </button>
                    <button type="button" class="btn btn-warning btn-sm mx-2" id="stopSamplingBtn" disabled>STOP
                    </button>
                </div>
                <div class="col progress px-0">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" id="sampling-progress"
                         role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
            <hr class="my-4"/>
            <div class="limiter d-flex m-0">
                <div class="container-table100">
                    <div class="wrap-table100">
                        <div class="table100 ver3 m-b-110">
                            <div class="table100-head" data-toggle="tooltip" data-placement="top"
                                 th:attr="title=#{sample.table.channels.tooltip}">
                                <table>
                                    <thead>
                                    <tr class="row100 head">
                                        <th scope="col" class="cell100 column border-left-0"
                                            th:utext="#{sample.table.column.id}"></th>
                                        <th scope="col" id="ch-1" class="cell100 column channel clickeable">A1</th>
                                        <th scope="col" id="ch-2" class="cell100 column channel clickeable">A2</th>
                                        <th scope="col" id="ch-3" class="cell100 column channel clickeable">A3</th>
                                        <th scope="col" id="ch-4" class="cell100 column channel clickeable">A4</th>
                                        <th scope="col" id="ch-5" class="cell100 column channel clickeable">A5</th>
                                        <th scope="col" id="ch-6"
                                            class="cell100 column channel clickeable border-right-0">A6</th>
                                    </tr>
                                    </thead>
                                </table>
                            </div>
                            <div id="sampleContainer" class="table100-body js-pscroll">
                                <table id="samples">
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4"/>
            <div class="d-flex shadow p-3 bg-white rounded" id="linechart" th:utext="#{sample.plot.tip}"></div>
        </div>
    </main>
</div>

<!--Page Footer-->
<footer th:replace="fragments/footer :: pageFooter"></footer>

<!--JS Global Variables-->
<script th:inline="javascript">
    let device = {};
    let commands = undefined;
    let frames = undefined;
    const lastSeq = -1;
    let count = 0;
    let limit = -1;
    const numChannels = 6
    let aChannels = (new Array(numChannels)).fill(false);
    let imported = {sensors: undefined, labels: undefined, resolutions: undefined, comments: undefined};
    let sampling = false;
    let sampledData = undefined;
    let sampledFrames = undefined;
    let chart = undefined;
    const disconnected = [[#{sample.device.status.disconnected}]];
    const connecting = [[#{sample.device.status.connecting}]];
    const ready = htmlDecode([[#{sample.device.status.ready}]]);
    const acquiring = [[#{sample.device.status.acquiring}]];
    const renderAtOnce = 200; //Table rows to render at once (for file import)
</script>

<!--JS Utilities-->
<script th:inline="javascript">
    $(document).ready(() => {
        const role = [[${role}]];
        if (role) {
            setActiveMenuOption(role);
        }
        $("#bitalinoSchematicContainer").mouseenter(() => {
            $("#bitalinoSchematic").show();
        });
        $("#bitalinoSchematicContainer").mouseleave(() => {
            $("#bitalinoSchematic").hide();
        });
        $("#projectTitle").attr("title", htmlDecode([[${project.description}]]));
        $('[data-toggle="tooltip"]').tooltip();

        $('#sampleContainer').scroll(function () {
            if ($(this).scrollTop() + $(this).innerHeight() >= $(this)[0].scrollHeight) {
                const offset = $('#samples tbody').children().toArray().length;
                addRows(offset);
            }
        });

        $("th.channel").click(function() {
            $(this).fadeOut(100).toggleClass("channel").fadeIn(100);

            if (sampling) {
                stopSampling();
            }

            let id = $(this).attr("id");
            let ch = Number.parseInt(id.split("ch-")[1]);
            aChannels[ch - 1] = (aChannels[ch - 1] == 0);
        });

        $("#isPlot").change(() => {
            if (this.checked && sampledData?.length > 0) {
                drawChart();
            }
        });

        $("#resetBtn").click(() => {
            $("th.clickeable").addClass("channel");
            aChannels.fill(false);
            clearData();
        });

    });

    function Frame(crc, seq, analog, digital) {
        this.crc = crc;
        this.seq = seq;
        this.analog = analog;
        this.digital = digital;
    }

    Frame.prototype.toString = function frameToString() {
        const str = "Frame{" + "CRC=" + this.crc + ", seq=" + this.seq + ", analog=" + this.analog
            + ", digital=" + this.digital + "}";

        return str;
    }

    function clearData() {
        if (sampling) {
            stopSampling();
        }
        chart = undefined;
        $("#samples tbody").empty();
        sampledData = [];
        sampledFrames = [];
        let imported = {sensors: undefined, labels: undefined, resolutions: undefined, comments: undefined};
        $("#linechart").empty();
        $("#linechart").html([[#{sample.plot.tip}]]);
        $("#saveDataBtn").attr("disabled", true);
        $("#sampling-progress").attr("aria-valuenow", 0);
        $("#sampling-progress").css("width", 0 + "%");
        $("#sampling-progress").text("");
        $("numSamples").val("");
        count = 0;
    }
</script>

<!--Bluetooth Connectivity (BITalino) JS Functionalities-->
<script th:inline="javascript">
    $(document).ready(() => {
        $("#connectBtn").click(() => {
            if (isWebBluetoothEnabled()) {
                discoverDevices();
            }
        });

        $("#startSamplingBtn").click(() => {
            if (aChannels.indexOf(true) >= 0) {
                let clear = true;
                if ((sampledData !== undefined && sampledData.length > 0)
                    || (sampledFrames !== undefined && sampledFrames.length > 1)) {
                    clear = confirm(htmlDecode([[#{message.confirm.sample.reset}]]));
                }
                if (clear) {
                    clearData();
                    startSampling();
                }
            } else {
                alert(htmlDecode([[#{message.alert.sample.activeChannel}]]));
            }
        });
        $("#stopSamplingBtn").click(() => {
            stopSampling();
        });
    });

    function isWebBluetoothEnabled() {
        return (navigator.bluetooth);
    }

    async function discoverDevices() {
        try {
            const serviceUuid = 'c566488a-0882-4e1b-a6d0-0b717e652234';
            let options = {
                filters: [
                    {services: [serviceUuid]},
                    {namePrefix: 'BITalino'}
                ]
            }
            $("#status").text(connecting).removeClass().addClass("connecting my-auto mx-2");
            console.log('Requesting Bluetooth Device...');
            device = await navigator.bluetooth.requestDevice(options);
            console.log(device);
            console.log('Connecting to GATT Server...');
            const server = await device.gatt.connect();

            console.log('Getting Service...');
            const service = await server.getPrimaryService(serviceUuid);

            console.log('Getting Characteristics...');

            // Get the Bitalino Frames characteristic to recieve data from the device
            frames = await service.getCharacteristic('40fdba6b-672e-47c4-808a-e529adff3633');

            // Start notifications for Bitalino events
            await frames.startNotifications();
            console.log('Notifications have been started.');

            // Get the Bitalino Commands characteristic to send commands to the device
            commands = await service.getCharacteristic('4051eb11-bf0a-4c74-8730-a48f4193fcea');

            getVersion();

            $("#status").text(ready);
            clearData();
            $("#status").addClass("ready my-auto mx-2");

            // Set up event listener for when device gets disconnected.
            device.addEventListener('gattserverdisconnected', onDisconnected);

            $("#controlBtns input, #controlBtns select, #startSamplingBtn, #resetBtn").attr("disabled", false);

        } catch (error) {
            $("#status").text(disconnected).removeClass().addClass("disconnected my-auto mx-2");
            console.log('Argh! ' + error);
        }
    }

    function onDisconnected(event) {
        const device = event.target;
        console.log(`Device ${device.name} is disconnected.`);
        $("#controlBtns input, #controlBtns select, #controlBtns button").attr("disabled", true);
        $("#status").text(disconnected).removeClass().addClass("disconnected my-auto mx-2");
    }

    async function getVersion() {
        console.log("Getting firmware version...");

        // Set event handler function for the 'firmware version' command
        await frames.addEventListener('characteristicvaluechanged', handleFirmwareVersionNotification);

        // Send 'firmware version' command to Bitalino
        await commands.writeValue(new Uint8Array([7]));
    }

    async function startSampling() {
        // Get sample limit
        limit = Number.parseInt($("#numSamples").val());

        if (limit > 0) {
            limit += count;
        } else {
            $("#numSamples").val(0);
        }

        $("#startSamplingBtn").attr("disabled", true);
        $("#stopSamplingBtn").attr("disabled", false);
        $("#saveDataBtn").attr("disabled", true);

        //Set event handler function for data acquisition on the selected channels
        await frames.addEventListener('characteristicvaluechanged', handleDataSampleNotification);

        //Set sampling rate
        const selected = Number.parseInt($("#samplingRate").val());
        let sr = 0;

        switch (selected) {
            case 1:
                sr = 0;
                break;
            case 10:
                sr = 1;
                break;
            case 100:
                sr = 2;
                break;
            case 1000:
                sr = 3;
                break;
        }
        try {
            await commands.writeValue(new Uint8Array([(sr << 6) | 0x3]));
            sampling = true;
            $("#status").text(acquiring);
            $("#status").css("animation", `blinker ${1 / selected}s linear infinite`);
        } catch (error) {
            console.log("Error:" + error);
        }

        // Start acquiring data on selected channels

        // Set bit to 1|2 for live|simulated sampling mode
        let bit = 1;

        if ($("#isSimulated").is(":checked")) {
            bit = 2;
        }

        // Add acquisition info to the sampled frames array
        let status = [aChannels.slice(), selected];
        sampledFrames.push(status);

        for (let i = 0; i < aChannels.length; i++) {
            if (aChannels[i]) {
                bit = bit | 1 << (2 + i);
            }
        }
        try {
            await commands.writeValue(new Uint8Array([bit]));
        } catch (error) {
            console.log("Error: " + error);
        }
    }

    async function stopSampling() {
        $("#startSamplingBtn").attr("disabled", false);
        $("#stopSamplingBtn").attr("disabled", true);
        $("#saveDataBtn").attr("disabled", false);

        // Remove event handler function for data acquisition
        await frames.removeEventListener('characteristicvaluechanged', handleDataSampleNotification);

        // Send 'set idle mode' command to Bitalino
        try {
            await commands.writeValue(new Uint8Array([0]));
            sampling = false;
            $("#status").text(ready);
            $("#status").css("animation", "none");
        } catch (error) {
            console.log("Error:" + error);
        }
    }

    async function handleFirmwareVersionNotification(event) {
        let value = event.target.value;

        let str = "";

        for (let i = 0; i < value.byteLength; i++) {
            let test = String.fromCharCode(value.getUint8(i));
            if (test == "\n") {
                break;
            }
            if (test == "B" || str !== "") {
                str += test;
            }
        }
        console.log('> ' + str);
        device = Object.assign(device, {firmware: str.slice(str.indexOf("v") + 1)});

        // Remove event handler function for the 'firmware version' command
        await frames.removeEventListener('characteristicvaluechanged', handleFirmwareVersionNotification);
    }

    function handleDataSampleNotification(event) {
        const analogChannels = aChannels.filter(function (x) {
            return x == true
        }).length;
        let value = event.target.value;
        let frame = undefined;
        let number_bytes;

        if (analogChannels <= 4) {
            number_bytes = Math.ceil((12. + 10. * analogChannels) / 8.);
        } else {
            number_bytes = Math.ceil((52. + 6. * (analogChannels - 4)) / 8.);
        }

        const j = number_bytes - 1;
        let CRC;
        let x0 = 0;
        let x1 = 0;
        let x2 = 0;
        let x3 = 0;
        let out = 0;
        let inp = 0;

        // Check CRC
        CRC = (value.getUint8(j) & 0x0F) & 0xFF;
        for (let bytes = 0; bytes < number_bytes; bytes++) {
            for (let bit = 7; bit > -1; bit--) {
                inp = (value.getUint8(bytes)) >> bit & 0x01;
                if (bytes == (number_bytes - 1) && bit < 4) {
                    inp = 0;
                }
                out = x3;
                x3 = x2;
                x2 = x1;
                x1 = out ^ x0;
                x0 = inp ^ out;
            }
        }
        // If the message was correctly received, it starts decoding
        if (CRC == ((x3 << 3) | (x2 << 2) | (x1 << 1) | x0)) {
            const digital = [];
            const analog = [];

            /*parse frames*/
            const seq = ((value.getUint8(j - 0) & 0xF0) >> 4) & 0xF;

            digital[0] = (value.getUint8(j - 1) >> 7) & 0x01;
            digital[1] = (value.getUint8(j - 1) >> 6) & 0x01;
            digital[2] = (value.getUint8(j - 1) >> 5) & 0x01;
            digital[3] = (value.getUint8(j - 1) >> 4) & 0x01;

            /*parse buffer frame*/
            switch (analogChannels) {
                case 6:
                    analog[5] = value.getUint8(j - 7) & 0x3F;
                case 5:
                    analog[4] = ((value.getUint8(j - 6) & 0x0F) << 2) | (value.getUint8(j - 7) >> 6);
                case 4:
                    analog[3] = ((value.getUint8(j - 5) & 0x3F) << 4) | (value.getUint8(j - 6) >> 4);
                case 3:
                    analog[2] = (value.getUint8(j - 4) << 2) | (value.getUint8(j - 5) >> 6);
                case 2:
                    analog[1] = ((value.getUint8(j - 2) & 0x3) << 8) | value.getUint8(j - 3);
                case 1:
                    analog[0] = ((value.getUint8(j - 1) & 0xF) << 6) | (value.getUint8(j - 2) >> 2);
            }

            frame = new Frame(0, seq, analog, digital);
            sampledFrames.push(frame);
            ++count;
            addSampleRow(frame);

            if (limit > 0) {
                const percentage = ((count / limit) * 100.00).toFixed(2);
                $("#sampling-progress").attr("aria-valuenow", percentage);
                $("#sampling-progress").css("width", percentage + "%");
                $("#sampling-progress").text(percentage + "%");

                if (count >= limit) {
                    stopSampling();
                }
            }
        } else {
            console.error("Data frame lost");
        }
    }

    function sleep(milliseconds) {
        const date = Date.now();
        let currentDate = undefined;
        do {
            currentDate = Date.now();
        } while (currentDate - date < milliseconds);
    }
</script>

<!--Sample Data Visualization JS Functionalities-->
<script th:inline="javascript">
    function addRows(offset) {
        const newLimit = renderAtOnce + offset;
        for (let index1 = offset; index1 < sampledData.length && index1 < newLimit; index1++) {
            const newRow = $("<tr></tr>");
            $(newRow).append(`<th scope='row' class='cell100 column'>${(index1 + 1)}</th>`);
            let aux = 0;
            aChannels.forEach((channel, index2) => {
                const newCell = $(`<td class='cell100 column'>${channel ? sampledData[index1][aux++] : '-'}</td>`);
                $(newRow).append(newCell);
            });
            $("#samples tbody").append(newRow);
        }
    }

    async function addSampleRow(frame) {
        const row = $("<tr class='row100 body'></tr>");
        $(row).attr("id", "sample_" + count);
        let cell = $("<th scope='row' class='cell100 column'></th>");

        $(cell).text(count);
        $(row).append(cell);

        let aux = 0;
        for (let i = 0; i < aChannels.length; i++) {
            cell = $("<td class='cell100 column'></td>");
            if (aChannels[i]) {
                $(cell).text(frame.analog[aux++]);
            } else {
                $(cell).text("-");
            }
            $(row).append(cell);
        }

        $('#samples tbody').append(row);
        const div = document.getElementById("sampleContainer");
        div.scrollTop = div.scrollHeight - div.clientHeight;

        sampledData.push(frame.analog);

        if ($("#isPlot").is(":checked") && count % 5 == 0) {
            drawChart();
        }
    }

    //Load Line chart from Google Charts API
    google.charts.load('current', {'packages': ['line']});

    function drawChart() {
        let dataTable = new google.visualization.DataTable();
        dataTable.addColumn('number', htmlDecode([[#{sample.table.column.id}]]));

        for (let i = 0; i < aChannels.length; i++) {
            if (aChannels[i]) {
                dataTable.addColumn('number', 'A' + (i + 1));
            }
        }
        const limit = 1000;
        const offset = parseInt(sampledData.length / limit);
        sampledData.slice(offset * limit).forEach((r) => {
            dataTable.addRow([ sampledData.indexOf(r), ...r ]);
        });

        const options = {
            chart: {
                title: htmlDecode([[#{sample.title.plot}]]),
                subtitle: ''
            },
            height: 500,
            hAxis: {gridlines: {count: -1}},
        };

        if (chart == null) {
            chart = new google.charts.Line(document.getElementById("linechart"));
        }

        chart.draw(dataTable, google.charts.Line.convertOptions(options));
    }
</script>

<!--Sample Save JS Utils-->
<script th:inline="javascript">
    $(document).ready(() => {
        $("#modalFileSave").on('shown.bs.modal', () => {
            let chInfo = $("#fileSaveForm").find($("div.channelInfo"));

            for (let i = 0; i < chInfo.length; i++) {
                $(chInfo[i]).remove();
            }

            let aChannels = sampledFrames[0][0];
            const sensors = [[${sensors}]];
            let active = aChannels.filter(function (x) {
                return x == true
            });
            let resolutions;

            if (imported?.resolutions) {
                resolutions = imported.resolutions.slice();
            } else {
                resolutions = [];
                active.forEach((c, i) => {
                    if (active.length == 6 && i >= 4) {
                        resolutions.push(6);
                    } else {
                        resolutions.push(10);
                    }
                });
            }
            let aux = 0;

            for (let i = 0; i < aChannels.length; i++) {
                if (aChannels[i]) {
                    let row = $("<div class='row my-2 text-center align-items-center channelInfo'></div>");

                    let col = $("<div class='col-2 align-middle py-2'></div>");
                    $(col).append(`<input name="channelNames" value="A${i + 1}" class="w-100 form-control" readonly/>`);

                    $(row).append(col);

                    col = $("<div class='col-3'></div>");
                    let sensorSelector = $("<select class='form-control' name='sensors'></select>");
                    sensors.forEach((sensor) => {
                        let selected = false;
                        if ((sensor.alias === 'RAW' && !imported?.sensors)
                            || (imported?.sensors?.[i] === sensor.alias)) {
                            selected = true;
                        }
                        let opt = $(`<option value="${sensor.id}" ${selected ? 'selected' : ''} title="${sensor.name}">
                                    ${sensor.alias}</option>`);
                        $(sensorSelector).append(opt);
                    });
                    $(col).append(sensorSelector);
                    $(row).append(col);

                    col = $("<div class='col-5'></div>");
                    let label = $(`<input name="channelLabels" class="form-control chLabel w-100" value=""/>`);
                    if (imported?.labels?.[i]) {
                        $(label).val(imported.labels[i])
                    }

                    $(col).append(label);
                    $(row).append(col);

                    col = $("<div class='col-2'></div>");
                    let check = $(`<input class='form-control mx-auto channelCheck w-25' type='checkbox'/>`);
                    $(check).attr("checked", true);

                    $(col).append(check);
                    $(row).append(col);
                    $(row).append(`<input name="channelResolutions" value="${resolutions[aux++]}" hidden/>`);

                    $("#fileSaveForm>hr").before(row);
                }
            }
            if (imported?.comments) {
                $("#comments").val(imported.comments);
            }
            $("#deviceName").val(device.name);
            $("#deviceFirmware").val(device.firmware);
            $("#sRate").val(sampledFrames[0][1]);
            $("#size").val(sampledData.length);
        });
    });

    function handleSampleSave() {
        $('#modalFileSave').modal('hide');
        if ($("#dbSwitch").is(":checked")) {
            saveSample();
        }
        const date = new Date();
        if ($("#txtSwitch").is(":checked")) {
            saveOpenSignalsData(date);
        }
        if ($("#csvSwitch").is(":checked")) {
            saveCSV(date);
        }
    }

    function saveCSV(date) {
        let sRate = sampledFrames[0][1];
        let timeIncrement = (1 / sRate) * 1000;

        let labels = $("#fileSaveForm").find("input.chLabel");
        let checks = $("#fileSaveForm").find("input.channelCheck");
        let aChannels = [...sampledFrames[0][0]];

        let aux = 0;
        for (let i = 0; i < aChannels.length; i++) {
            if (aChannels[i]) {
                if (!$(checks[aux++]).is(":checked")) {
                    aChannels[i] = false;
                }
            }
        }

        let csv = `"seq","timestamp",`;

        aux = 0;
        for (let i = 0; i < aChannels.length; i++) {
            if (aChannels[i]) {
                const label = $(labels[aux++]).val();
                csv += `"A${i + 1}${label ? '[' + label + ']' : ''}",`;
                csv += `"A${i + 1}${label ? '[' + label + ']' : ''}_norm",`;
            }
        }
        csv = csv.slice(0, -1);
        csv += "\n";

        const active = aChannels.filter((x) => x);
        const resolutions = [];
        for (let i = 0; i < active.length; i++) {
            if (active.length == 6 && i >= 4) {
                resolutions.push(6);
            } else {
                resolutions.push(10);
            }
        }

        for (let i = 1; i < sampledFrames.length; i++) {
            date = new Date(date.getTime() + timeIncrement);
            let month = (date.getMonth() + 1).toString().padStart(2, '0');
            let day = date.getDate().toString().padStart(2, '0');
            let hours = date.getHours().toString().padStart(2, '0');
            let minutes = date.getMinutes().toString().padStart(2, '0');
            let seconds = date.getSeconds().toString().padStart(2, '0');
            let millis = date.getMilliseconds().toString().padStart(3,'0');
            csv += `${i},"${date.getFullYear()}-${month}-${day} ${hours}:${minutes}:${seconds}.${millis}"`;
            for (let j = 0; j < sampledFrames[i].analog.length; j++) {
                if ($(checks[j]).is(":checked")) {
                    csv += "," + sampledFrames[i].analog[j];
                    csv += "," + normalizeValue(sampledFrames[i].analog[j], resolutions[j]);
                }
            }
            csv += "\n";
        }

        const blob = new Blob([csv],
            {type: "text/plain;charset=ascii"});

        let filename = "data_" + device.name + "_" + date.getTime() + ".csv";

        saveAs(blob, filename);
    }

    function normalizeValue(value, bits) {
        const min = 0;
        const max = Math.pow(2, Number.parseInt(bits));
        return ((value - min) / (max - min)).toFixed(4);
    }

    function saveOpenSignalsData(date) {
        const comments = $("#saveComments").val();
        let sensors = $("#fileSaveForm").find("select");
        let labels = $("#fileSaveForm").find("input.chLabel");
        let checks = $("#fileSaveForm").find("input.channelCheck");

        let month = (date.getMonth() + 1).toString().padStart(2, 0);
        let day = date.getDate().toString().padStart(2, 0);
        let hours = date.getHours().toString().padStart(2, 0);
        let minutes = date.getMinutes().toString().padStart(2, 0);
        let seconds = date.getSeconds().toString().padStart(2, 0);

        let aChannels = [...sampledFrames[0][0]];
        let sRate = sampledFrames[0][1];

        let aux = 0;

        for (let i = 0; i < aChannels.length; i++) {
            if (aChannels[i]) {
                if (!$(checks[aux++]).is(":checked")) {
                    aChannels[i] = false;
                }
            }
        }
        const sensorsArr = [];
        for (let i = 0; i < sensors.length; i++) {
            if ($(checks[i]).is(":checked")) {
                let sensorName = getSensorById($(sensors[i]).val()).alias;
                sensorsArr.push(sensorName ?? 'RAW');
            }
        }
        const columns = ['nSeq', 'I1', 'I2', 'O1', 'O2'];
        for (let i = 0; i < aChannels.length; i++) {
            if (aChannels[i]) {
                columns.push(`A${i + 1}`);
            }
        }
        const channels = [];
        for (let i = 0; i < aChannels.length; i++) {
            if (aChannels[i]) {
                channels.push(i + 1);
            }
        }
        const labelsArr = [];
        for (let i = 0; i < labels.length; i++) {
            if ($(checks[i]).is(":checked")) {
                labelsArr.push($(labels[i]).val() ?? '');
            }
        }
        const resolutions = [4, 1, 1, 1, 1];
        const active = aChannels.filter((x) => x);
        for (let i = 0; i < active.length; i++) {
            if (active.length == 6 && i >= 4) {
                resolutions.push(6);
            } else {
                resolutions.push(10);
            }
        }

        let txt = '# OpenSignals Text File Format\n';
        const header = {
            [device.name]: {
                sensor: sensorsArr,
                'device name': device.name,
                column: columns,
                'sync interval': 2,
                time: `${hours}:${minutes}:${seconds}.${date.getMilliseconds()}`,
                comments: comments ?? '',
                'device connection': device.name,
                channels: channels,
                date: `${date.getFullYear()}-${month}-${day}`,
                mode: 0,
                "digital IO": [0, 0, 1, 1],
                'firmware version': device.firmware ?? '',
                device: 'bitalino_rev',
                position: 0,
                'sampling rate': sRate,
                label: labelsArr,
                resolution: resolutions,
            }
        };
        txt += '# ' + JSON.stringify(header);
        txt += '\n' + "# EndOfHeader";

        for (let i = 1; i < sampledFrames.length; i++) {
            txt += "\n";
            txt += sampledFrames[i].seq + "\t" + sampledFrames[i].digital[0] + "\t" + sampledFrames[i].digital[1]
                + "\t" + sampledFrames[i].digital[2] + "\t" + sampledFrames[i].digital[3];
            for (let j = 0; j < sampledFrames[i].analog.length; j++) {
                if ($(checks[j]).is(":checked")) {
                    txt += "\t" + sampledFrames[i].analog[j];
                }
            }
        }

        const blob = new Blob([txt],
            {type: "text/plain;charset=ascii"});

        let filename = "opensignals_" + device.name + "_" + date.getFullYear() + month + day;
        filename += "_" + hours + "_" + minutes + "_" + seconds + ".txt";

        saveAs(blob, filename);
    }

    /* Registers the data sample in the system (only contextual info, no values) */
    function saveSample() {
        $(".alert").html("").hide();
        $(".error-list").html("");
        $('#modalFileSave').modal('hide');
        $('#modalFileSave').one('hidden.bs.modal', (e) => {
            $("input.channelCheck:not(:checked)").closest(".row").find("input,select").attr("disabled", true);
            const formData = $('#fileSaveForm').serializeArray();

            $.post(serverContext + "sample/add", formData, (data) => {
                const sample = data.new;
                saveValues(sample);
            }).fail((data) => {
                if (data.responseJSON?.error?.indexOf("InternalError") > -1) {
                    $("#errormsg").show().append(data.responseJSON.message);
                } else {
                    const errors = $.parseJSON(data.responseJSON.message);
                    $.each(errors, function (index, item) {
                        $("#errormsg").show().append(`${item.field} ${item.defaultMessage}<br/>`);
                    });
                }
            });
        });
    }

    /* Stores the values of the sample in the system */
    async function saveValues(sample) {
        if (sample?.size === sampledData.length) {
            const channelValues = [];
            console.log(sampledData);
            const checks = $("#fileSaveForm").find("input.channelCheck");
            let aux = 0;
            let aChannels = [...sampledFrames[0][0]];

            for (let i = 0; i < aChannels.length; i++) {
                if (aChannels[i]) {
                    if (!$(checks[aux++]).is(":checked")) {
                        aChannels[i] = false;
                    }
                }
            }
            for (let i = 0; i < aChannels.length; i++) {
                channelValues.push([]);
            }
            sampledData.forEach((v) => {
                let aux = 0;
                for (let j = 0; j < channelValues.length; j++) {
                    if (aChannels[j]) {
                        channelValues[j].push(v[aux++]);
                    }
                }
            });
            aux = 0;
            const promises = [];
            promises.push(channelValues.map((v, i) => {
                if (v.length) {
                    return new Promise((resolve, reject) => {
                        const req = new XMLHttpRequest();
                        req.open('POST', serverContext + `sample/saveValues`);
                        req.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
                        req.onload = () => {
                            if (req.status == 200) {
                                resolve(JSON.parse(req.response));
                            } else {
                                reject();
                            }
                        };
                        req.send(JSON.stringify({
                            sampleId: sample.id,
                            channelName: sample.dataChannels[aux++].channelName ?? `A${i + 1}`,
                            values: v,
                        }));
                    })
                }
            }));

            Promise.all(promises).then(results => {
                $("#successmsg").show().html([[#{message.sample.success.register}]]);
                $(".alert").children("i.fa-window-close").remove();
                $(".alert").append($("<i onclick='closeAlert(this)' class='fas fa-window-close'></i>"));
            }, reason => {
                $.ajax({
                    type: 'DELETE',
                    url: serverContext + 'sample/delete/' + sample.id,
                    success: (data) => {
                        $("#errormsg").show().html(/*[[#{message.sample.error.register}]]*/);
                    },
                    error: (data) => {
                        $("#errormsg").show().html(/*[[#{message.error.operation}]]*/);
                    }
                });
            });
        }
    }

    function getSensorById(sensorId) {
        const sensors = [[${sensors}]];
        return sensors.find((s) => s.id === parseInt(sensorId));
    }
</script>

<!--File Import JS Functionalities-->
<script th:inline="javascript">
    $(document).ready(() => {
        $('#sampleFile').on('click touchstart' , function(){
            $(this).val('');
        });

        $("#sampleFile").change((event) => {
            $(".alert").hide();
            const file = event.target.files[0];
            if (file?.type === 'text/plain') {
                readFile(file);
            } else if (file) {
                $("#errormsg").show().html([[#{message.sample.file.error.type}]]);
                $(".alert").children("i.fa-window-close").remove();
                $(".alert").append($("<i onclick='closeAlert(this)' class='fas fa-window-close'></i>"));
            }
        });
    });

    function readFile(file) {
        const reader = new FileReader();
        const maxLines = 100000;
        showSpinner();
        clearData();
        reader.onload = ((reader) => {
            return async () => {
                const contents = reader.result;
                const lines = contents.split('\n');
                await parseSampleFromFile(lines, maxLines);
                hideSpinner();
                $("#saveDataBtn").attr("disabled", false);
            }
        })(reader);
        reader.readAsText(file);
    }

    function parseSampleFromFile(lines, maxLines) {
        if (lines.length > 1 && lines.length < maxLines) {
            if (device?.id) {
                device.gatt.disconnect();
            }
            clearData();
            let frame;
            let seq;
            let digital;
            let analog;
            let resolutions;
            let info;
            let i = 0;
            let errors = false;
            let endHeader = false;

            while (i < lines.length && !errors) {
                const line = lines[i].trim();

                if (i === 0 && line.startsWith('# OpenSignals Text File Format')) {
                    const header = JSON.parse(lines[i + 1].substr(2));
                    info = Object.values(header)[0];
                    device = {name: info['device name'], firmware: info['firmware version']};
                    aChannels = (new Array(numChannels)).fill(false);

                    for (let j = 0; j < numChannels; j++) {
                        for (let k = 0; k < info?.channels?.length; k++) {
                            if ((j + 1) === info?.channels[k]) {
                                aChannels[j] = true;
                            }
                        }
                    }
                    //Add acquisition info to the sampled frames array
                    let status = [aChannels.slice(), info['sampling rate'] ?? 10];
                    sampledFrames.push(status);

                    if (info?.sensor) {
                        imported.sensors = [...info.sensor];
                    }
                    if (info?.label) {
                        imported.labels = [...info.label];
                    }
                    if (info?.comments) {
                        imported.comments = info.comments;
                    }
                } else if (line.startsWith('# EndOfHeader')) {
                    endHeader = true;
                } else if (!line.startsWith('#') && info) {
                    const values = line.split('\t');
                    if (info?.column.length === values.length) {
                        digital = [];
                        analog = [];
                        resolutions = [];
                        info?.column?.forEach((col, i) => {
                            if (col === 'nSeq') {
                                seq = values[i];
                            } else if (col.startsWith('I') || col.startsWith('O')) {
                                digital.push(values[i]);
                            } else if (col.startsWith('A')) {
                                analog.push(values[i]);
                                if (info.resolution[i]) {
                                    resolutions.push(info.resolution[i]);
                                }
                            }
                        });

                        if (resolutions?.length) {
                            imported.resolutions = resolutions.slice();
                        }
                        frame = new Frame(0, seq, analog, digital);
                        sampledFrames.push(frame);
                        sampledData.push(analog);
                    }

                } else if (endHeader) {
                    errors = true;
                }
                i++;
            }
            if (errors) {
                $("#errormsg").show().html(/*[[#{message.sample.file.error.format}]]*/);
                $(".alert").children("i.fa-window-close").remove();
                $(".alert").append($("<i onclick='closeAlert(this)' class='fas fa-window-close'></i>"));
            } else {
                $('#numSamples').val(sampledData.length);
                $('#samplingRate').val(sampledFrames[0][1] ?? 10);
                addRows(0);
                $("#saveDataBtn").attr("disabled", false);
            }
        } else {
            if (lines.length <= 1) {
                $("#errormsg").show().html(/*[[#{message.sample.file.error.empty}]]*/);
            } else if (lines.length > maxLines) {
                $("#errormsg").show().html(/*[[#{message.sample.file.error.size}]]*/);
            }
            $(".alert").children("i.fa-window-close").remove();
            $(".alert").append($("<i onclick='closeAlert(this)' class='fas fa-window-close'></i>"));
        }
    }
</script>
</body>
</html>
