<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset password</title>

    <link rel="stylesheet" href="/resources/css/bootstrap.min.css">
    <link rel="stylesheet" href="/resources/css/style.css">

    <!-- JQuery -->
    <script src="/resources/js/jquery-3.5.1.min.js"></script>

    <!-- Custom JS -->
    <script th:inline="javascript">var requiredMessage = /*[[#{label.form.requiredFields}]]*/;</script>
    <script th:src="@{/resources/js/util.js}"></script>
</head>
<body>

<!--Load Wrapper-->
<div th:replace="/fragments/loadingWrapper :: loadingWrapper"></div>

<!--Page Header-->
<header th:replace="/fragments/header :: pageHeader"></header>

<!--Notificaction Banners-->
<div th:with="msg=${param.success}">
    <div class="alert alert-info" th:utext="#{${msg}}"
         th:unless="${msg == null}">message
    </div>
</div>
<div th:with="msg=${param.message}">
    <div class="alert alert-warning" th:utext="#{${msg}}"
         th:unless="${msg == null}">message
    </div>
</div>
<div th:with="msg=${param.error}">
    <div class="alert alert-danger" th:utext="#{${msg}}"
         th:unless="${msg == null}">message
    </div>
</div>

<!--Language Selector-->
<div th:replace="/fragments/languageSelector :: languageSelector"></div>

<!--Main Section Container-->
<main class="container-md mt-2 mb-4">
    <h1>
        <span th:utext="#{message.resetPassword}"></span>
        <i class="fas fa-envelope"></i>
    </h1>
    <form action="#" method="POST" enctype="utf8">
        <div class="form-group">
            <label for="email" th:utext="#{label.user.email}">email</label>
            <input class="form-control" style="max-width: 300px" id="email" name="email" type="email" value="" required/>
        </div>
        <button class="btn btn-primary" type="submit" th:utext="#{message.resetPassword}">reset</button>
    </form>
</main>

<!--Page Footer-->
<footer th:replace="/fragments/footer :: pageFooter"></footer>

<script th:inline="javascript">
    const serverContext = /*[[@{/}]]*/;

        $(document).ready(function () {
            $('form').submit(function (event) {
                resetPass(event);
            });
        });

    function resetPass(event) {
        event.preventDefault();
        const currentURL = window.location.href.split('?')[0];
        const email = $("#email").val();

        $.post(serverContext + "user/resetPassword", {email: utf8_to_b64(email)}, function (data) {
            const message = data.message;

            if (message == "message.resetPasswordEmail") {
                window.location.href = currentURL + "?success=" + data.message;
            } else if (message == "auth.message.disabled") {
                window.location.href = "/login?error=" + data.message;
            } else {
                window.location.href = currentURL + "?message=" + data.message;
            }
        })
            .fail(function (data) {
                if (data.responseJSON.error.indexOf("MailError") > -1) {
                    window.location.href = currentURL + "?error=message.email.config.error";
                } else {
                    window.location.href = currentURL + "?error=" + data.responseJSON.message;
                }
            });
    }
</script>
</body>

</html>
