<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>

    <link rel="stylesheet" href="/resources/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/resources/css/style.css"/>

    <script src="/resources/js/jquery-3.5.1.min.js"></script>
    <script src="https://kit.fontawesome.com/ebf145548d.js" crossorigin="anonymous"></script>
    <script th:src="@{/resources/js/util.js}"></script>
</head>
<body>
<!--Page Header-->
<header th:replace="/fragments/header :: pageHeader"></header>

<!--Language Selector-->
<div th:replace="/fragments/languageSelector :: languageSelector"></div>


<main class="container-md mt-2">
    <h2>Currently logged in users</h2>
    <div th:each="user : ${users}">
        <p th:utext="${user}">user</p>
    </div>
</main>
</body>
</html>
